<section id="tryitSec">
    <div class="flowTxtWrap">
        <p class="flowTxt flowTxt1">hink about everyfit.  Think about everyfit.  Think about everyfit.  Think about everyfit. Think about everyfit.  Think about everyfit.  Think about everyfit.</p> 
        <p class="flowTxt flowTxt12">Think about everyfit.  Think about everyfit.  Think about everyfit.  Think about everyfit. Think about everyfit.  Think about everyfit.  Think about everyfit.</p> 
    </div>

    <h2>TRY IT !</h2>
    <ul id="tryitList">

		<li>
			<a href="#">
				<div class="imgBlock"><img src="{{ 'img_tryit_01.png' | asset_url }}" alt="TRY IT [サイズを確認]"></div>
				<div class="flexBlock">
					<p class="listTtl">まずは自分の頭を測って<br>サイズを確認。</p>
					<div class="btnBlock2"><span class="btnStyleB01">VIEW</span></div>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="imgBlock"><img src="{{ 'img_tryit_02.png' | asset_url }}" alt="TRY IT [試着サービス]"></div>
				<div class="flexBlock">
					<p class="listTtl">迷ったら試着サービス。<br>自宅でゆっくりトライ。</p>
					<div class="btnBlock2"><span class="btnStyleB01">VIEW</span></div>
				</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="imgBlock"><img src="{{ 'img_tryit_03.png' | asset_url }}" alt="TRY IT [返品交換無料]"></div>
				<div class="flexBlock">
					<p class="listTtl">購入後も返品交換無料、<br>だから安心。</p>
					<div class="btnBlock2"><span class="btnStyleB01">VIEW</span></div>
				</div>
			</a>
		</li>
	</ul>
</section> 

{% schema %}
  {
    "name": "TRY IT!",
    "tag": "section",
		"class": "camuri_tryit",
    "settings": [],
		"presets": [
			{
				"name": "TRY IT!"
			}
		]
  }
{% endschema %}