{%- liquid
  assign posts_displayed = section.settings.blog.articles_count
  if section.settings.post_limit <= section.settings.blog.articles_count or section.settings.post_limit <= 4
    assign posts_exceed_limit = true
    assign posts_displayed = section.settings.post_limit
  endif
-%}
<section id="journalReccomendSec">
  <div class="contentIn">
    <h3>RECOMMEND</h3>
    <ul id="journalReccomendList">
    {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
      {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
      <li>
        <a href="#"> 
          <div class="imgBlock">
            <img src="_asset/images/dmy/img_journal_01.png">
          </div>
          <div class="txtBlock">
            <p class="journalTtl">頭囲×深さの8展開！似合うサイズが見つかる「FUKABORI CAP」で毎日かぶる帽子が決まる。</p>
            <p class="journalDate">2024.12.22</p>
            <div class="tagList"><span href="#">COLUMN</span>　<span href="#">ベレー</span></div>
          </div>
        </a>
      </li>
      {%- endfor -%}
    {%- endif -%}
<!--       <li>
        <a href="#"> 
          <div class="imgBlock">
            <img src="_asset/images/dmy/img_journal_01.png">
          </div>
          <div class="txtBlock">
            <p class="journalTtl">頭囲×深さの8展開！似合うサイズが見つかる「FUKABORI CAP」で毎日かぶる帽子が決まる。</p>
            <p class="journalDate">2024.12.22</p>
            <div class="tagList"><span href="#">COLUMN</span>　<span href="#">ベレー</span></div>
          </div>
        </a>
      </li>
      <li>
        <a href="#"> 
          <div class="imgBlock">
            <img src="_asset/images/dmy/img_journal_01.png">
          </div>
          <div class="txtBlock">
            <p class="journalTtl">頭囲×深さの8展開！似合うサイズが見つかる「FUKABORI CAP」で毎日かぶる帽子が決まる。</p>
            <p class="journalDate">2024.12.22</p>
            <div class="tagList"><span href="#">COLUMN</span>　<span href="#">ベレー</span></div>
          </div>
        </a>
      </li>
      <li>
        <a href="#"> 
          <div class="imgBlock">
            <img src="_asset/images/dmy/img_journal_01.png">
          </div>
          <div class="txtBlock">
            <p class="journalTtl">頭囲×深さの8展開！似合うサイズが見つかる「FUKABORI CAP」で毎日かぶる帽子が決まる。</p>
            <p class="journalDate">2024.12.22</p>
            <div class="tagList"><span href="#">COLUMN</span>　<span href="#">ベレー</span></div>
          </div>
        </a>
      </li>
      <li>
        <a href="#"> 
          <div class="imgBlock">
            <img src="_asset/images/dmy/img_journal_01.png">
          </div>
          <div class="txtBlock">
            <p class="journalTtl">頭囲×深さの8展開！似合うサイズが見つかる「FUKABORI CAP」で毎日かぶる帽子が決まる。</p>
            <p class="journalDate">2024.12.22</p>
            <div class="tagList"><span href="#">COLUMN</span>　<span href="#">ベレー</span></div>
          </div>
        </a>
      </li> -->
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.camuri-featured-blog.name",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "article",
      "id": "article",
      "label": "記事１"
    },
    {
      "type": "article",
      "id": "article",
      "label": "記事２"
    },
    {
      "type": "article",
      "id": "article",
      "label": "記事４"
    },
    {
      "type": "article",
      "id": "article",
      "label": "記事５"
    },
  ],
  "presets": [
    {
      "name": "t:sections.camuri-featured-blog.presets.name"
    }
  ]
}
{% endschema %}
