  <div id="page{{ page.title | escape }}" class="cmnTemplate">
    <section id="titleSec">
      <div class="contentIn">
        <h2 class="menuTitleStyle"><span class="txtEn">{{ page.title | escape }}</span><span class="txtJa">{{ page.metafields.camuri.page_title_ja | escape }}</span></h2>
      </div>
    </section>
    <!-- titleSec -->

    {{ page.content }}
  </div>
  <!--content-->