@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,300;0,600;1,300;1,600&display=swap");
/*
min-font-size ($font_size, $min_font_size)
$font_size (vw):     可変フォントサイズ
$min_font_size (px): 最小フォントサイズ
*/
/*
max-font-size ($font_size, $max_font_size)
$font_size (vw):     可変フォントサイズ
$max_font_size (px): 最大フォントサイズ
*/
/* ----------------------------------------------------------------------- 

	common layout 共通レイアウト

----------------------------------------------------------------------- */
@media screen and (max-width: 800px) {
  .pcOnly {
    display: none;
  }
}

.spOnly {
  display: none;
}
@media screen and (max-width: 800px) {
  .spOnly {
    display: block;
  }
}

/* ----------------------------------------------------------------------- 
	settings
----------------------------------------------------------------------- */
html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 1.15vw;
  font-weight: 400;
  color: #000000;
  text-align: left;
  text-justify: inter-ideograph;
  -webkit-text-size-adjust: 100%;
  line-height: 1.6;
}
@media screen and (min-width: 1391.30435px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  body {
    font-size: 3.73vw;
    font-family: "Noto Sans JP", sans-serif;
  }
}

.wrapper {
  position: relative;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
@media print, screen and (min-width: 1200px) {
  a {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

div ul p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/*-------------------------------------------------------------------
	header
-------------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #FFFFFF;
}
@media screen and (max-width: 800px) {
  #header {
    height: 19.73vw;
  }
}
#header.active {
  z-index: 9999;
  opacity: 1;
  background-color: transparent;
}
#header .headMsg {
  width: 100vw;
  height: 2.88vw;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  padding: 0.38vw;
  padding-top: 0.6vw;
}
@media screen and (max-width: 800px) {
  #header .headMsg {
    height: 8.53vw;
    padding-top: 2.1vw;
    font-size: 2.66vw;
  }
}
#header.fixed .headerIn .hLogo img, #header.fixed .mainVisualIn .hLogo img {
  width: 4.54vw;
}
@media screen and (max-width: 800px) {
  #header.fixed .headerIn .hLogo img, #header.fixed .mainVisualIn .hLogo img {
    width: 11.18vw;
  }
}

.headerIn, .mainVisualIn {
  width: 100%;
  height: 4.33vw;
  padding: 0 2.88vw 0 1.44vw;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
@media screen and (max-width: 800px) {
  .headerIn, .mainVisualIn {
    padding: 1.3vw 4vw 0;
  }
}
.headerIn .hLogo, .mainVisualIn .hLogo {
  font-size: 0.8em;
  line-height: 0.8em;
}
.headerIn .hLogo a, .mainVisualIn .hLogo a {
  display: block;
  width: 100%;
  height: 100%;
}
.headerIn .hLogo a img, .mainVisualIn .hLogo a img {
  width: 4.54vw;
}
@media screen and (max-width: 800px) {
  .headerIn .hLogo a img, .mainVisualIn .hLogo a img {
    width: 11.18vw;
  }
}
.headerIn .hMenu, .mainVisualIn .hMenu {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
.headerIn .hMenu .hCart .header__icon,
.headerIn .hMenu .hCart .header__icon--cart .icon, .mainVisualIn .hMenu .hCart .header__icon,
.mainVisualIn .hMenu .hCart .header__icon--cart .icon {
  height: auto;
  width: auto;
  padding: 0;
}
.headerIn .hMenu .hCart a:hover, .mainVisualIn .hMenu .hCart a:hover {
  opacity: 0.6;
}
.headerIn .hMenu .hNavBtn, .headerIn .hMenu .mvNavBtn, .mainVisualIn .hMenu .hNavBtn, .mainVisualIn .hMenu .mvNavBtn {
  position: relative;
  width: 2.16vw;
  height: 14px;
  margin-left: 2.16vw;
  box-sizing: border-box;
}
@media screen and (max-width: 800px) {
  .headerIn .hMenu .hNavBtn, .headerIn .hMenu .mvNavBtn, .mainVisualIn .hMenu .hNavBtn, .mainVisualIn .hMenu .mvNavBtn {
    width: 5.33vw;
    margin-left: 6.66vw;
  }
}
.headerIn .hMenu .hNavBtn span, .headerIn .hMenu .mvNavBtn span, .mainVisualIn .hMenu .hNavBtn span, .mainVisualIn .hMenu .mvNavBtn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
}
.headerIn .hMenu .hNavBtn span:nth-of-type(1), .headerIn .hMenu .mvNavBtn span:nth-of-type(1), .mainVisualIn .hMenu .hNavBtn span:nth-of-type(1), .mainVisualIn .hMenu .mvNavBtn span:nth-of-type(1) {
  top: 0px;
}
@media screen and (max-width: 800px) {
  .headerIn .hMenu .hNavBtn span:nth-of-type(1), .headerIn .hMenu .mvNavBtn span:nth-of-type(1), .mainVisualIn .hMenu .hNavBtn span:nth-of-type(1), .mainVisualIn .hMenu .mvNavBtn span:nth-of-type(1) {
    top: 2px;
  }
}
.headerIn .hMenu .hNavBtn span:nth-of-type(2), .headerIn .hMenu .mvNavBtn span:nth-of-type(2), .mainVisualIn .hMenu .hNavBtn span:nth-of-type(2), .mainVisualIn .hMenu .mvNavBtn span:nth-of-type(2) {
  top: 12px;
}
@media screen and (max-width: 800px) {
  .headerIn .hMenu .hNavBtn span:nth-of-type(2), .headerIn .hMenu .mvNavBtn span:nth-of-type(2), .mainVisualIn .hMenu .hNavBtn span:nth-of-type(2), .mainVisualIn .hMenu .mvNavBtn span:nth-of-type(2) {
    top: 10px;
  }
}
.headerIn .hMenu .hNavBtn.active span:nth-of-type(1), .headerIn .hMenu .mvNavBtn.active span:nth-of-type(1), .mainVisualIn .hMenu .hNavBtn.active span:nth-of-type(1), .mainVisualIn .hMenu .mvNavBtn.active span:nth-of-type(1) {
  -webkit-transform: translateY(4px) rotate(45deg);
  transform: translateY(4px) rotate(45deg);
}
.headerIn .hMenu .hNavBtn.active span:nth-of-type(2), .headerIn .hMenu .mvNavBtn.active span:nth-of-type(2), .mainVisualIn .hMenu .hNavBtn.active span:nth-of-type(2), .mainVisualIn .hMenu .mvNavBtn.active span:nth-of-type(2) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}
@media screen and (max-width: 800px) {
  .headerIn .hMenu .hNavBtn.active span:nth-of-type(1), .headerIn .hMenu .mvNavBtn.active span:nth-of-type(1), .mainVisualIn .hMenu .hNavBtn.active span:nth-of-type(1), .mainVisualIn .hMenu .mvNavBtn.active span:nth-of-type(1) {
    -webkit-transform: translateY(4px) rotate(45deg);
    transform: translateY(4px) rotate(45deg);
  }
  .headerIn .hMenu .hNavBtn.active span:nth-of-type(2), .headerIn .hMenu .mvNavBtn.active span:nth-of-type(2), .mainVisualIn .hMenu .hNavBtn.active span:nth-of-type(2), .mainVisualIn .hMenu .mvNavBtn.active span:nth-of-type(2) {
    -webkit-transform: translateY(-4px) rotate(-45deg);
    transform: translateY(-4px) rotate(-45deg);
  }
}

#gNaviWrapper {
  display: none;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 9998;
  position: fixed;
  background: #E1DFD9;
  overflow: auto;
}
#gNaviWrapper #gNaviIn {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
  padding: 9.95vw 10.31vw 5vw;
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn {
    width: 100vw;
    padding: 27.4vw 8vw 30vw;
  }
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn #gMenu01, #gNaviWrapper #gNaviIn #gMenu02, #gNaviWrapper #gNaviIn #gMenu03, #gNaviWrapper #gNaviIn #gMenu04 {
    width: 100%;
  }
}
#gNaviWrapper #gNaviIn .hSearchBlock .field::before, #gNaviWrapper #gNaviIn .hSearchBlock .field::after {
  border-radius: 0;
  box-shadow: none;
}
#gNaviWrapper #gNaviIn .hSearchBlock .field .field__input {
  width: 25.25vw;
  height: 4.32vw;
  background-color: transparent;
  border: 1px solid #000000;
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .hSearchBlock .field .field__input {
    width: 100%;
    height: 11.2vw;
  }
}
#gNaviWrapper #gNaviIn .hSearchBlock .field .field__button {
  height: 100%;
  width: 4vw;
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .hSearchBlock .field .field__button {
    width: 8vw;
    padding-right: 3vw;
  }
}
#gNaviWrapper #gNaviIn .hSearchBlock .field .field__label {
  font-size: 1vw;
  top: calc(1.35vw + var(--inputs-border-width));
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .hSearchBlock .field .field__label {
    font-size: 2.93vw;
    top: calc(3.35vw + var(--inputs-border-width));
  }
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .hSearchBlock .field .field__label:focus ~ .field__label {
    top: calc(var(--inputs-border-width) + .1rem);
    font-size: 2.93vw;
    font-size: 2vw !important;
  }
}
#gNaviWrapper #gNaviIn .hSearchBlock .field .field__input:not(:placeholder-shown) ~ .field__label {
  display: none;
}
#gNaviWrapper #gNaviIn .hSearchBlock .field .field__input:focus, #gNaviWrapper #gNaviIn .hSearchBlock .field .field__input:not(:placeholder-shown) {
  box-shadow: none;
  padding: 5px 14px;
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .hSearchBlock .field .field__input:focus ~ .field__label, #gNaviWrapper #gNaviIn .hSearchBlock .field .field__input:not(:placeholder-shown) ~ .field__label {
    line-height: 1.4;
    font-size: 1.5vw;
  }
}
#gNaviWrapper #gNaviIn .hBtnStyle {
  display: block;
  width: 25.25vw;
  height: 4.32vw;
  line-height: 4.32vw;
  transition: 0.5s;
  text-align: center;
  border: 1px solid #000000;
  margin-top: 3.39vw;
  margin-bottom: 3.39vw;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .hBtnStyle {
    width: 100%;
    height: 11.2vw;
  }
}
#gNaviWrapper #gNaviIn .hBtnStyle .txtEn {
  font-size: 1.44vw;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .hBtnStyle .txtEn {
    font-size: 4.26vw;
    line-height: 1;
  }
}
#gNaviWrapper #gNaviIn .hBtnStyle .txtJa {
  font-size: 0.93vw;
  padding-left: 1.37vw;
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .hBtnStyle .txtJa {
    font-size: 2.93vw;
    padding-left: 2.93vw;
    line-height: 1;
  }
}
#gNaviWrapper #gNaviIn .hBtnStyle:hover {
  background-color: #000000;
  color: #E1DFD9;
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .menuList {
    margin-top: 8vw;
    width: 100%;
  }
}
#gNaviWrapper #gNaviIn .menuList li + li {
  margin-top: 2.5vw;
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .menuList li + li {
    margin-top: 8vw;
  }
}
#gNaviWrapper #gNaviIn .menuList li span {
  display: block;
}
#gNaviWrapper #gNaviIn .menuList li a:hover span {
  color: #808080;
}
#gNaviWrapper #gNaviIn .menuList li .txtEn {
  font-family: "Poppins", sans-serif;
  font-size: 3.24vw;
  font-weight: bold;
  line-height: 1;
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .menuList li .txtEn {
    font-size: 10.13vw;
  }
}
#gNaviWrapper #gNaviIn .menuList li .txtJa {
  margin-top: 0.72vw;
  font-size: 0.93vw;
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .menuList li .txtJa {
    font-size: 2.93vw;
  }
}
#gNaviWrapper #gNaviIn .acMenuBox {
  margin-top: 2.5vw;
  width: 17.02vw;
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .acMenuBox {
    margin-top: 6.88vw;
    width: 100%;
  }
}
#gNaviWrapper #gNaviIn .acMenuBox label {
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 1.29vw;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .acMenuBox label {
    font-size: 4.26vw;
  }
}
#gNaviWrapper #gNaviIn .acMenuBox label::before, #gNaviWrapper #gNaviIn .acMenuBox label::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 12px;
  width: 2px;
  height: 25px;
  background-color: #000000;
  transition: all 0.5s;
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .acMenuBox label::before, #gNaviWrapper #gNaviIn .acMenuBox label::after {
    height: 16px;
  }
}
#gNaviWrapper #gNaviIn .acMenuBox label::after {
  transform: rotate(90deg);
}
#gNaviWrapper #gNaviIn .acMenuBox label:hover {
  color: #808080;
}
#gNaviWrapper #gNaviIn .acMenuBox label:hover::before, #gNaviWrapper #gNaviIn .acMenuBox label:hover::after {
  background-color: #808080;
}
#gNaviWrapper #gNaviIn .acMenuBox .acMenuList {
  height: auto;
  padding: 0px;
  overflow: hidden;
  opacity: 1;
  transition: 0.5s;
  margin-top: 0.86vw;
  margin-left: 3.96vw;
  font-weight: bold;
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .acMenuBox .acMenuList {
    margin-top: 3.76vw;
    height: 0px;
    opacity: 0;
  }
}
#gNaviWrapper #gNaviIn .acMenuBox .acMenuList li {
  line-height: 2em;
  font-size: 1.15vw;
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .acMenuBox .acMenuList li {
    font-size: 3.73vw;
  }
}
#gNaviWrapper #gNaviIn .acMenuBox .acMenuList li::before {
  content: '・';
}
#gNaviWrapper #gNaviIn .acMenuBox .acMenuList li a:hover {
  color: #808080;
}
#gNaviWrapper #gNaviIn .acMenuBox input {
  display: none;
  transition: all 0.5s;
}
#gNaviWrapper #gNaviIn .acMenuBox input:checked ~ label::before {
  transform: rotate(45deg);
}
#gNaviWrapper #gNaviIn .acMenuBox input:checked ~ label::after {
  transform: rotate(135deg);
}
#gNaviWrapper #gNaviIn .acMenuBox input:checked ~ .acMenuList {
  height: 0px;
  opacity: 0;
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .acMenuBox input:checked ~ .acMenuList {
    height: auto;
    opacity: 1;
  }
}
#gNaviWrapper #gNaviIn .hSNSMenu {
  width: 2.52vw;
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .hSNSMenu {
    margin-top: 10.66vw;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-flow: row wrap;
  }
}
#gNaviWrapper #gNaviIn .hSNSMenu li {
  margin-bottom: 2.7vw;
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .hSNSMenu li {
    width: 7.73vw;
    margin-right: 6.66vw;
  }
}
#gNaviWrapper #gNaviIn .hSNSMenu li a:hover {
  opacity: 0.6;
}
#gNaviWrapper #gNaviIn .menuTtl {
  margin-top: 2.6vw;
}
#gNaviWrapper #gNaviIn .menuTtl a {
  font-size: 1.29vw;
  font-weight: bold;
  padding-bottom: 10px;
}
@media screen and (max-width: 800px) {
  #gNaviWrapper #gNaviIn .menuTtl a {
    margin-top: 6.88vw;
    font-size: 4.26vw;
  }
}
#gNaviWrapper #gNaviIn .menuTtl a:hover {
  color: #808080;
}

.cart-count-bubble {
  background-color: transparent;
  top: 0.7rem;
  left: auto;
  right: 1.2rem;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

/*-------------------------------------------------------------------
	footer
-------------------------------------------------------------------*/
#footer {
  width: 100%;
  background-color: #C9C9C9;
}
#footer h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2.16vw;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 800px) {
  #footer h3 {
    font-size: 5.33vw;
  }
}
#footer #fNewsletterSnsBlock {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
#footer #fNewsletterSnsBlock #newsletterBlock {
  width: 50%;
  height: 25.25vw;
  padding: 3.96vw 10.31vw 3.96vw;
  background-color: #4A4A4A;
  color: #FFFFFF;
}
@media screen and (max-width: 800px) {
  #footer #fNewsletterSnsBlock #newsletterBlock {
    width: 100vw;
    height: auto;
    padding: 6.66vw 8vw 8.79vw;
  }
}
#footer #fNewsletterSnsBlock #newsletterBlock h3 {
  color: #FFFFFF;
}
#footer #fNewsletterSnsBlock #newsletterBlock .newsletterTxt {
  margin-top: 1.8vw;
  line-height: 1.75;
  font-size: 1.15vw;
}
@media screen and (max-width: 800px) {
  #footer #fNewsletterSnsBlock #newsletterBlock .newsletterTxt {
    margin-top: 5.06vw;
    font-size: 3.2vw;
  }
}
#footer #fNewsletterSnsBlock #newsletterBlock .formBlock {
  margin-top: 2.02vw;
}
@media screen and (max-width: 800px) {
  #footer #fNewsletterSnsBlock #newsletterBlock .formBlock {
    margin-top: 5.6vw;
  }
}
#footer #fNewsletterSnsBlock #newsletterBlock .camuri_mail_input {
  height: 3.6vw;
  padding: 1vw;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
@media screen and (max-width: 800px) {
  #footer #fNewsletterSnsBlock #newsletterBlock .camuri_mail_input {
    height: 11.2vw;
    padding: 3vw;
  }
}
#footer #fNewsletterSnsBlock #newsletterBlock .camuri_field_label {
  color: #FFFFFF;
  font-size: 1.15vw;
  top: calc(1vw + var(--inputs-border-width));
}
@media screen and (max-width: 800px) {
  #footer #fNewsletterSnsBlock #newsletterBlock .camuri_field_label {
    font-size: 3.2vw;
    line-height: 2;
    top: calc(2.3vw + var(--inputs-border-width));
  }
}
#footer #fNewsletterSnsBlock #newsletterBlock .camuri_mail_input:focus ~ .camuri_field_label,
#footer #fNewsletterSnsBlock #newsletterBlock .camuri_mail_input:not(:placeholder-shown) ~ .field__label {
  font-size: 0.6vw;
  top: calc(var(--inputs-border-width) + 0.5rem);
  left: calc(var(--inputs-border-width) + 2rem);
  letter-spacing: 0.04rem;
}
@media screen and (max-width: 800px) {
  #footer #fNewsletterSnsBlock #newsletterBlock .camuri_mail_input:focus ~ .camuri_field_label,
  #footer #fNewsletterSnsBlock #newsletterBlock .camuri_mail_input:not(:placeholder-shown) ~ .field__label {
    font-size: 2vw;
    line-height: 2.5;
  }
}
#footer #fNewsletterSnsBlock #newsletterBlock .camuri_mail_input:focus,
#footer #fNewsletterSnsBlock #newsletterBlock .camuri_mail_input:not(:placeholder-shown),
#footer #fNewsletterSnsBlock #newsletterBlock .camuri_mail_input:-webkit-autofill {
  padding: 2.2rem 1.5rem 0.8rem 2rem;
  margin: var(--inputs-border-width);
}
#footer #fNewsletterSnsBlock #newsletterBlock .camuri_newsletter-form__button {
  width: 6.2vw;
  height: 3.6vw;
  color: #000000;
  background: #FFFFFF;
  font-size: 1.15vw;
  margin-top: 0.1vw;
  margin-right: 0.1vw;
}
@media screen and (max-width: 800px) {
  #footer #fNewsletterSnsBlock #newsletterBlock .camuri_newsletter-form__button {
    width: 19.2vw;
    height: 11.2vw;
    font-size: 3.2vw;
  }
}
#footer #fNewsletterSnsBlock #snsBlock {
  width: 50%;
  height: 25.25vw;
  background-color: #E1DFD9;
  padding-top: 3.96vw;
}
@media screen and (max-width: 800px) {
  #footer #fNewsletterSnsBlock #snsBlock {
    width: 100vw;
    height: auto;
    padding: 6.66vw 0 21.27vw;
  }
}
#footer #fNewsletterSnsBlock #snsBlock .fSNSMenu {
  margin-top: 4.4vw;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
@media screen and (max-width: 800px) {
  #footer #fNewsletterSnsBlock #snsBlock .fSNSMenu {
    margin-top: 7.65vw;
  }
}
#footer #fNewsletterSnsBlock #snsBlock .fSNSMenu li {
  width: 3.6vw;
  margin: 0 1.58vw;
}
@media screen and (max-width: 800px) {
  #footer #fNewsletterSnsBlock #snsBlock .fSNSMenu li {
    width: 10.93vw;
    margin: 0 4.8vw;
  }
}
#footer #fNewsletterSnsBlock #snsBlock .fSNSMenu li.fSNSX {
  width: 3.31vw;
}
@media screen and (max-width: 800px) {
  #footer #fNewsletterSnsBlock #snsBlock .fSNSMenu li.fSNSX {
    width: 10.04vw;
  }
}
#footer #fNewsletterSnsBlock #snsBlock .fSNSMenu li a:hover {
  opacity: 0.6;
}
#footer #fMenuBlock {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
  padding: 3.96vw 0 6.78vw;
}
@media screen and (max-width: 800px) {
  #footer #fMenuBlock {
    padding: 6.66vw 0 12.53vw;
  }
}
#footer #fMenuBlock h3 {
  text-align: left;
}
@media screen and (max-width: 800px) {
  #footer #fMenuBlock h3 {
    text-align: center;
  }
}
#footer #fMenuBlock #ttlBlock {
  width: 50%;
  padding-left: 13.92vw;
}
@media screen and (max-width: 800px) {
  #footer #fMenuBlock #ttlBlock {
    width: 100vw;
    padding-left: 0;
  }
}
#footer #fMenuBlock #fMenuFlex {
  width: 50%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin-top: 1vw;
}
@media screen and (max-width: 800px) {
  #footer #fMenuBlock #fMenuFlex {
    width: 100vw;
    padding: 0 8vw 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-flow: row wrap;
  }
}
#footer #fMenuBlock #fMenuFlex .fMenu {
  margin-right: 4.68vw;
}
@media screen and (max-width: 800px) {
  #footer #fMenuBlock #fMenuFlex .fMenu {
    margin-right: 0;
  }
}
#footer #fMenuBlock #fMenuFlex .fMenu li {
  margin-bottom: 2.3vw;
  font-size: 1.01vw;
  font-weight: bold;
}
@media screen and (max-width: 800px) {
  #footer #fMenuBlock #fMenuFlex .fMenu li {
    font-size: 3.2vw;
    margin-top: 7.46vw;
  }
}
#footer #fMenuBlock #fMenuFlex .fMenu li a:hover {
  color: #808080;
}
@media screen and (max-width: 800px) {
  #footer #fMenuBlock #fMenuFlex .fMenu li .fMenuSecondary {
    margin-top: 4.8vw;
  }
}
#footer #fMenuBlock #fMenuFlex .fMenu li .fMenuSecondary li {
  margin-top: 0.4vw;
  font-size: 0.93vw;
  font-weight: normal;
  margin-bottom: 0;
}
@media screen and (max-width: 800px) {
  #footer #fMenuBlock #fMenuFlex .fMenu li .fMenuSecondary li {
    margin-top: 3.73vw;
    font-size: 3.2vw;
  }
}
#footer #fMenuBlock #fMenuFlex .fMenu li .fMenuSecondary li + li {
  margin-top: 0.15vw;
}
@media screen and (max-width: 800px) {
  #footer #fMenuBlock #fMenuFlex .fMenu li .fMenuSecondary li + li {
    margin-top: 2.15vw;
  }
}
#footer #fCopy {
  padding-right: 2.88vw;
  padding-bottom: 1.6vw;
  text-align: right;
  font-size: 0.8vw;
}
@media screen and (max-width: 800px) {
  #footer #fCopy {
    height: auto;
    font-size: 2.66vw;
    text-align: center;
  }
}

/* ----------------------------------------------------------------------- 
	common layout
----------------------------------------------------------------------- */
.content {
  position: relative;
  padding-top: 7.21vw;
}
.content:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 800px) {
  .content {
    padding-top: 19.73vw;
  }
}

/* ----------------------------------------------------------------------- 
	label
----------------------------------------------------------------------- */
.labelLimited {
  background-color: #E26768;
  color: #FFFFFF;
}

.labelSolidOut {
  background-color: #000000;
  color: #FFFFFF;
}

/* ----------------------------------------------------------------------- 
	button
----------------------------------------------------------------------- */
.btnBlock span, .btnBlock a {
  display: block;
  width: 7.57vw;
  height: 2.59vw;
  font-size: 1.15vw;
  border-radius: 1.8vw;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: 0.5s;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
@media screen and (max-width: 800px) {
  .btnBlock span, .btnBlock a {
    width: 28vw;
    height: 9.06vw;
    font-size: 4vw;
    border-radius: 6.66vw;
  }
}
.btnBlock span.btnStyleW01, .btnBlock a.btnStyleW01 {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}
.btnBlock span.btnStyleW01:hover, .btnBlock a.btnStyleW01:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.btnBlock span.btnStyleB01, .btnBlock a.btnStyleB01 {
  border: 2px solid #000000;
  color: #000000;
}
.btnBlock span.btnStyleB01:hover, .btnBlock a.btnStyleB01:hover {
  background-color: #000000;
  color: #FFFFFF;
}

/* ----------------------------------------------------------------------- 
	journalList
----------------------------------------------------------------------- */
#journalList {
  padding-top: 9.37vw;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
#journalList::after {
  display: block;
  content: "";
  width: 29%;
}
#journalList li {
  width: 29%;
  text-align: left;
  margin-bottom: 70px;
}
@media screen and (max-width: 800px) {
  #journalList li {
    width: 43.2vw;
    margin: 8vw 0;
  }
}
#journalList li .imgBlock {
  position: relative;
  width: 100%;
}
#journalList li .imgBlock::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 100%;
}
#journalList li .imgBlock img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: cover;
}
#journalList li .imgBlock .tabWrap {
  position: absolute;
  bottom: 0;
  right: 0;
}
#journalList li .imgBlock .tabWrap span {
  background-color: #E1DFD9;
  padding: 0.4vw 0.72vw 0.36vw;
  font-size: 1.01vw;
  font-weight: bold;
  display: block;
  line-height: 1;
}
@media screen and (min-width: 1386.13861px) {
  #journalList li .imgBlock .tabWrap span {
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  #journalList li .imgBlock .tabWrap span {
    padding: 1.06vw 2.13vw;
    font-size: 2.93vw;
  }
}
#journalList li .journalTtl {
  margin-top: 21px;
  font-size: 1.28vw;
  font-size: 1.28vw;
  font-weight: bold;
  line-height: 1.4;
}
@media screen and (min-width: 1406.25px) {
  #journalList li .journalTtl {
    font-size: 18px;
  }
}
@media screen and (max-width: 800px) {
  #journalList li .journalTtl {
    margin-top: 4vw;
    font-size: 3.73vw;
  }
}
#journalList li .journalDate {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 1.01vw;
  font-weight: 600;
}
@media screen and (min-width: 1386.13861px) {
  #journalList li .journalDate {
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  #journalList li .journalDate {
    margin-top: 2vw;
    font-size: 2.93vw;
  }
}
#journalList li .tagList {
  margin-top: 10px;
  font-size: 1.01vw;
  color: #313131;
}
@media screen and (min-width: 1386.13861px) {
  #journalList li .tagList {
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  #journalList li .tagList {
    font-size: 2.93vw;
  }
}

/* ----------------------------------------------------------------------- 
	itemList
----------------------------------------------------------------------- */
#itemSec, #resultSec {
  padding: 8.22vw 10.31vw 17.46vw;
}
@media screen and (max-width: 800px) {
  #itemSec, #resultSec {
    padding: 11.46vw 4vw 34.4vw;
  }
}
#itemSec h2, #resultSec h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
@media screen and (max-width: 800px) {
  #itemSec h2, #resultSec h2 {
    font-size: 8vw;
    padding-left: 0;
  }
}
#itemSec #itemList, #resultSec #itemList {
  padding-top: 7.5vw;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
#itemSec #itemList.container::before, #resultSec #itemList.container::before {
  content: "";
  display: block;
  width: 17.31vw;
  order: 1;
}
#itemSec #itemList.container::after, #resultSec #itemList.container::after {
  content: "";
  display: block;
  width: 17.31vw;
}
#itemSec #itemList li, #resultSec #itemList li {
  width: 17.31vw;
  margin-bottom: 5.84vw;
}
@media screen and (max-width: 800px) {
  #itemSec #itemList li, #resultSec #itemList li {
    width: 43.2vw;
    margin-bottom: 10.66vw;
  }
}
#itemSec #itemList li > a, #resultSec #itemList li > a {
  display: block;
  width: 100%;
  height: 100%;
}
#itemSec #itemList li > a:hover, #resultSec #itemList li > a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -khtml-opacity: 0.7;
  -ms-filter: "alpha(opacity=$opacity)";
}
#itemSec #itemList li .imgBlock, #resultSec #itemList li .imgBlock {
  position: relative;
}
#itemSec #itemList li .imgBlock .tabWrap, #resultSec #itemList li .imgBlock .tabWrap {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
#itemSec #itemList li .imgBlock .tabWrap span, #resultSec #itemList li .imgBlock .tabWrap span {
  padding: 0.12vw 0.36vw;
  font-size: 1.15vw;
}
@media screen and (max-width: 800px) {
  #itemSec #itemList li .imgBlock .tabWrap span, #resultSec #itemList li .imgBlock .tabWrap span {
    padding: 0 1.6vw;
    font-size: 3.2vw;
  }
}
#itemSec #itemList li .imgBlock .tabWrap .labelLimited, #resultSec #itemList li .imgBlock .tabWrap .labelLimited {
  background-color: #E26768;
  color: #FFFFFF;
}
#itemSec #itemList li .imgBlock .tabWrap .labelSolidOut, #resultSec #itemList li .imgBlock .tabWrap .labelSolidOut {
  background-color: #000000;
  color: #FFFFFF;
}
#itemSec #itemList li .itemTtl, #resultSec #itemList li .itemTtl {
  margin-top: 1.83vw;
  font-size: 1.58vw;
  font-weight: bold;
  line-height: 1.55;
}
@media screen and (max-width: 800px) {
  #itemSec #itemList li .itemTtl, #resultSec #itemList li .itemTtl {
    font-size: 4.26vw;
  }
}
#itemSec #itemList li .itemPrice, #resultSec #itemList li .itemPrice {
  margin-top: 0.79vw;
  font-size: 1.37vw;
  font-weight: bold;
}
@media screen and (max-width: 800px) {
  #itemSec #itemList li .itemPrice, #resultSec #itemList li .itemPrice {
    font-size: 4.26vw;
  }
}
#itemSec #itemList li .itemPrice span, #resultSec #itemList li .itemPrice span {
  font-size: 1.01vw;
}
@media screen and (max-width: 800px) {
  #itemSec #itemList li .itemPrice span, #resultSec #itemList li .itemPrice span {
    font-size: 3.73vw;
  }
}
#itemSec #itemList li .itemTxt, #resultSec #itemList li .itemTxt {
  margin-top: 1.08vw;
  font-size: 1.15vw;
}
@media screen and (max-width: 800px) {
  #itemSec #itemList li .itemTxt, #resultSec #itemList li .itemTxt {
    font-size: 3.73vw;
  }
}
#itemSec #itemList li .tagList, #resultSec #itemList li .tagList {
  margin-top: 2vw;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
#itemSec #itemList li .tagList a, #itemSec #itemList li .tagList span, #resultSec #itemList li .tagList a, #resultSec #itemList li .tagList span {
  display: block;
  padding: 0.4vw 1.08vw;
  border-radius: 1.8vw;
  font-size: 0.93vw;
  margin: 5px;
}
@media screen and (max-width: 800px) {
  #itemSec #itemList li .tagList a, #itemSec #itemList li .tagList span, #resultSec #itemList li .tagList a, #resultSec #itemList li .tagList span {
    padding: 1.33vw 2.4vw;
    border-radius: 6.66vw;
    font-size: 2.93vw;
  }
}
#itemSec #itemList li .tagList a.tagColBry, #itemSec #itemList li .tagList span.tagColBry, #resultSec #itemList li .tagList a.tagColBry, #resultSec #itemList li .tagList span.tagColBry {
  background-color: #575757;
  color: #FFFFFF;
}
#itemSec #itemList li .tagList a.tagColWht, #itemSec #itemList li .tagList span.tagColWht, #resultSec #itemList li .tagList a.tagColWht, #resultSec #itemList li .tagList span.tagColWht {
  background-color: #FFFFFF;
  border: 1px solid #000000;
}
#itemSec .btnBlock, #resultSec .btnBlock {
  margin-top: 2.04vw;
  text-align: center;
}
@media screen and (max-width: 800px) {
  #itemSec .btnBlock, #resultSec .btnBlock {
    margin-top: 6.72vw;
  }
}
#itemSec .btnBlock a, #resultSec .btnBlock a {
  display: block;
  width: 20.2vw;
  height: 4.32vw;
  margin: auto;
  border-radius: 2.8vw;
  font-size: 1.44vw;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
@media screen and (max-width: 800px) {
  #itemSec .btnBlock a, #resultSec .btnBlock a {
    width: 50.4vw;
    height: 11.2vw;
    border-radius: 25.2vw;
    font-size: 4vw;
  }
}
#itemSec #categoryblock, #resultSec #categoryblock {
  padding-top: 6.52vw;
}
@media screen and (max-width: 800px) {
  #itemSec #categoryblock, #resultSec #categoryblock {
    padding-top: 18.15vw;
  }
}
#itemSec #categoryblock h2, #resultSec #categoryblock h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.3vw;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 800px) {
  #itemSec #categoryblock h2, #resultSec #categoryblock h2 {
    font-size: 7.46vw;
  }
}
#itemSec #categoryblock h2 span, #resultSec #categoryblock h2 span {
  position: relative;
}
#itemSec #categoryblock h2 span::before, #resultSec #categoryblock h2 span::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 3.3vw;
  top: 0.2vw;
  left: -2.8vw;
  background-color: #000000;
  transform: rotate(-35deg);
}
@media screen and (max-width: 800px) {
  #itemSec #categoryblock h2 span::before, #resultSec #categoryblock h2 span::before {
    height: 8.5vw;
    left: -4.5vw;
  }
}
#itemSec #categoryblock h2 span::after, #resultSec #categoryblock h2 span::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 3.3vw;
  top: 0.2vw;
  right: -2.8vw;
  background-color: #000000;
  transform: rotate(35deg);
}
@media screen and (max-width: 800px) {
  #itemSec #categoryblock h2 span::after, #resultSec #categoryblock h2 span::after {
    height: 8.5vw;
    right: -4.5vw;
  }
}
#itemSec #categoryblock #categoryList, #resultSec #categoryblock #categoryList {
  margin-top: -1.7vw;
  padding: 6.34vw 4.68vw 4.61vw;
  background-color: #FFFFFF;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
@media screen and (max-width: 800px) {
  #itemSec #categoryblock #categoryList, #resultSec #categoryblock #categoryList {
    margin-top: -5.33vw;
    padding: 15.25vw 4vw 0;
  }
}
#itemSec #categoryblock #categoryList li, #resultSec #categoryblock #categoryList li {
  width: 10vw;
  text-align: center;
}
@media screen and (max-width: 800px) {
  #itemSec #categoryblock #categoryList li, #resultSec #categoryblock #categoryList li {
    width: 41.6vw;
    margin-bottom: 11.2vw;
  }
}
#itemSec #categoryblock #categoryList li .imgBlock, #resultSec #categoryblock #categoryList li .imgBlock {
  width: 6.49vw;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 800px) {
  #itemSec #categoryblock #categoryList li .imgBlock, #resultSec #categoryblock #categoryList li .imgBlock {
    width: 23.01vw;
  }
}
#itemSec #categoryblock #categoryList li .catTxt, #resultSec #categoryblock #categoryList li .catTxt {
  margin-top: 1.35vw;
  font-size: 1.01vw;
}
@media screen and (max-width: 800px) {
  #itemSec #categoryblock #categoryList li .catTxt, #resultSec #categoryblock #categoryList li .catTxt {
    margin-top: 5.01vw;
    font-size: 3.73vw;
  }
}
#itemSec #categoryblock #categoryList li .catTtl, #resultSec #categoryblock #categoryList li .catTtl {
  font-size: 1.29vw;
  font-weight: bold;
  line-height: 1.6;
}
@media screen and (max-width: 800px) {
  #itemSec #categoryblock #categoryList li .catTtl, #resultSec #categoryblock #categoryList li .catTtl {
    font-size: 4.26vw;
  }
}
#itemSec #categoryblock #categoryList li .catTtl span, #resultSec #categoryblock #categoryList li .catTtl span {
  border-bottom: 1px solid #000000;
  padding-bottom: 0.64vw;
}
@media screen and (max-width: 800px) {
  #itemSec #categoryblock #categoryList li .catTtl span, #resultSec #categoryblock #categoryList li .catTtl span {
    border-bottom: none;
  }
}
#itemSec #categoryblock #categoryList li a:hover .imgBlock img, #resultSec #categoryblock #categoryList li a:hover .imgBlock img {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -ms-filter: "alpha(opacity=$opacity)";
}
#itemSec #categoryblock #categoryList li a:hover .catTxt, #resultSec #categoryblock #categoryList li a:hover .catTxt {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -ms-filter: "alpha(opacity=$opacity)";
}
#itemSec #categoryblock #categoryList li a:hover .catTtl, #resultSec #categoryblock #categoryList li a:hover .catTtl {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -ms-filter: "alpha(opacity=$opacity)";
}
#itemSec #categoryblock #categoryList li .comingSoonItem, #resultSec #categoryblock #categoryList li .comingSoonItem {
  color: #999;
}
#itemSec #categoryblock #categoryList li .comingSoonItem .imgBlock img, #resultSec #categoryblock #categoryList li .comingSoonItem .imgBlock img {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -ms-filter: "alpha(opacity=$opacity)";
}

#tryitSec {
  position: relative;
}
#tryitSec .flowTxtWrap {
  display: flex;
  position: absolute;
  width: 100%;
  top: -2.5vw;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  #tryitSec .flowTxtWrap {
    top: -8vw;
  }
}
#tryitSec .flowTxtWrap .flowTxt {
  width: auto;
  white-space: nowrap;
  line-height: 1em;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 4.9vw;
  font-weight: 600;
  letter-spacing: 0.01em;
  margin-left: 20px;
}
@media screen and (max-width: 800px) {
  #tryitSec .flowTxtWrap .flowTxt {
    font-size: 13.33vw;
  }
}
#tryitSec .flowTxtWrap .flowTxt1 {
  animation: loop 80s -25s linear infinite;
}
#tryitSec .flowTxtWrap .flowTxt2 {
  animation: loop2 80s linear infinite;
}
@keyframes loop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes loop2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}
#tryitSec h2 {
  padding-top: 12.98vw;
  font-family: "Poppins", sans-serif;
  font-size: 2.74vw;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 800px) {
  #tryitSec h2 {
    padding-top: 18.86vw;
    font-size: 8vw;
  }
}
#tryitSec #tryitList {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
  padding: 2.03vw 10.31vw 9.37vw;
}
@media screen and (max-width: 800px) {
  #tryitSec #tryitList {
    padding: 7.43vw 4vw 2.66vw;
  }
}
#tryitSec #tryitList li {
  width: 24.89vw;
}
@media screen and (max-width: 800px) {
  #tryitSec #tryitList li {
    width: 92vw;
    margin-bottom: 12vw;
  }
}
#tryitSec #tryitList li .flexBlock {
  margin-top: 1.8vw;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
#tryitSec #tryitList li .flexBlock .listTtl {
  width: 16.59vw;
  font-size: 1.44vw;
  font-weight: 600;
  line-height: 1.5;
}
@media screen and (max-width: 800px) {
  #tryitSec #tryitList li .flexBlock .listTtl {
    width: 64vw;
    font-size: 5.33vw;
  }
}

#writingByBlock {
  margin-top: 4.83vw;
  width: 59.09vw;
  max-width: 650px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
  background-color: #E1DFD9;
  padding: 5% 4.3% 5% 7.3%;
}
@media screen and (max-width: 800px) {
  #writingByBlock {
    margin-top: 15.73vw;
    padding: 7.46vw 5.33vw 5.6vw;
  }
}
#writingByBlock .imgBlock {
  width: 28%;
}
@media screen and (max-width: 800px) {
  #writingByBlock .imgBlock {
    width: 100%;
    text-align: center;
  }
}
#writingByBlock .imgBlock img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}
@media screen and (max-width: 800px) {
  #writingByBlock .imgBlock img {
    width: 28.26vw;
  }
}
#writingByBlock .txtBlock {
  width: 63.6%;
  margin-left: 4.25%;
}
@media screen and (max-width: 800px) {
  #writingByBlock .txtBlock {
    width: 100%;
    margin-left: 0;
  }
}
#writingByBlock .txtBlock .txt01 {
  font-size: 1.15vw;
  font-weight: bold;
}
@media screen and (min-width: 1391.30435px) {
  #writingByBlock .txtBlock .txt01 {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  #writingByBlock .txtBlock .txt01 {
    margin-top: 4vw;
    text-align: center;
    font-size: 3.73vw;
  }
}
#writingByBlock .txtBlock .writerName {
  font-size: 1.44vw;
  font-weight: bold;
}
@media screen and (min-width: 1388.88889px) {
  #writingByBlock .txtBlock .writerName {
    font-size: 20px;
  }
}
@media screen and (max-width: 800px) {
  #writingByBlock .txtBlock .writerName {
    font-size: 5.33vw;
    margin-top: 0;
    text-align: center;
  }
}
#writingByBlock .txtBlock .writerProfile {
  font-size: 1.15vw;
  line-height: 1.8;
}
@media screen and (min-width: 1391.30435px) {
  #writingByBlock .txtBlock .writerProfile {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  #writingByBlock .txtBlock .writerProfile {
    margin-top: 4vw;
    font-size: 3.73vw;
  }
}

/* ----------------------------------------------------------------------- 
	title
----------------------------------------------------------------------- */
.menuTitleStyle {
  font-size: 4.32vw;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: left;
}
@media screen and (min-width: 1388.88889px) {
  .menuTitleStyle {
    font-size: 60px;
  }
}
@media screen and (max-width: 800px) {
  .menuTitleStyle {
    font-size: 10.66vw;
  }
}

/* ----------------------------------------------------------------------- 
	FAQなど共通テンプレート
----------------------------------------------------------------------- */
.cmnTemplate {
  padding-bottom: 7.21vw;
}
@media screen and (max-width: 800px) {
  .cmnTemplate {
    padding-bottom: 20vw;
  }
}
.cmnTemplate .contentIn {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
@media screen and (max-width: 800px) {
  .cmnTemplate .contentIn {
    width: 91.48vw;
  }
}
.cmnTemplate #titleSec {
  margin: 2.45vw 0 3vw;
}
.cmnTemplate #titleSec .menuTitleStyle {
  text-align: center;
}
.cmnTemplate #titleSec .menuTitleStyle span {
  display: block;
}
.cmnTemplate #titleSec .menuTitleStyle span.txtEn {
  font-family: "Poppins", sans-serif;
  font-size: 3.24vw;
  font-weight: 600;
  line-height: 1.4;
}
@media screen and (min-width: 1388.88889px) {
  .cmnTemplate #titleSec .menuTitleStyle span.txtEn {
    font-size: 45px;
  }
}
@media screen and (max-width: 800px) {
  .cmnTemplate #titleSec .menuTitleStyle span.txtEn {
    font-size: 6.66vw;
  }
}
.cmnTemplate #titleSec .menuTitleStyle span.txtJa {
  font-size: 1.29vw;
  font-weight: normal;
}
@media screen and (min-width: 1395.34884px) {
  .cmnTemplate #titleSec .menuTitleStyle span.txtJa {
    font-size: 18px;
  }
}
@media screen and (max-width: 800px) {
  .cmnTemplate #titleSec .menuTitleStyle span.txtJa {
    font-size: 3.73vw;
  }
}
.cmnTemplate h3 {
  padding-top: 7.21vw;
  font-size: 1.8vw;
  font-weight: bold;
  padding-bottom: 1vw;
  border-bottom: 2px solid #000000;
  line-height: 1.6;
}
@media screen and (min-width: 1388.88889px) {
  .cmnTemplate h3 {
    font-size: 25px;
  }
}
@media screen and (max-width: 800px) {
  .cmnTemplate h3 {
    padding-top: 18vw;
    font-size: 5.33vw;
  }
}
.cmnTemplate .cmnMenuList {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
.cmnTemplate .cmnMenuList li {
  width: 23.16vw;
  height: 4.68vw;
  line-height: 4.68vw;
  max-width: 321px;
  border: 1px solid #000000;
  border-radius: 2.34vw;
  text-align: center;
  margin: 1.5vw 0;
}
@media screen and (max-width: 800px) {
  .cmnTemplate .cmnMenuList li {
    width: 100%;
    height: 14.66vw;
    line-height: 14.66vw;
    border-radius: 7.33vw;
  }
}
.cmnTemplate .cmnMenuList li a {
  display: block;
  width: 100%;
  height: 100%;
}
.cmnTemplate .cmnDLList dt {
  margin-top: 2.74vw;
  font-size: 1.44vw;
  font-weight: bold;
}
@media screen and (min-width: 1388.88889px) {
  .cmnTemplate .cmnDLList dt {
    font-size: 20px;
  }
}
@media screen and (max-width: 800px) {
  .cmnTemplate .cmnDLList dt {
    margin-top: 7.19vw;
    font-size: 4.26vw;
  }
}
.cmnTemplate .cmnDLList dd {
  margin-top: 0.72vw;
  font-size: 1.29vw;
  font-weight: normal;
}
@media screen and (min-width: 1395.34884px) {
  .cmnTemplate .cmnDLList dd {
    font-size: 18px;
  }
}
@media screen and (max-width: 800px) {
  .cmnTemplate .cmnDLList dd {
    margin-top: 2vw;
    font-size: 3.73vw;
  }
}
.cmnTemplate p {
  margin-top: 1.94vw;
  font-size: 1.15vw;
  font-weight: normal;
}
@media screen and (min-width: 1391.30435px) {
  .cmnTemplate p {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  .cmnTemplate p {
    margin-top: 5.33vw;
    font-size: 3.73vw;
  }
}

/* ----------------------------------------------------------------------- 
	アプリなどオーバーライド
----------------------------------------------------------------------- */
