@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,300;0,600;1,300;1,600&display=swap");
/*
min-font-size ($font_size, $min_font_size)
$font_size (vw):     可変フォントサイズ
$min_font_size (px): 最小フォントサイズ
*/
/*
max-font-size ($font_size, $max_font_size)
$font_size (vw):     可変フォントサイズ
$max_font_size (px): 最大フォントサイズ
*/
/*-------------------------------------------------------------------
	override
-------------------------------------------------------------------*/
#header {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 0;
}
#header.fixed {
  opacity: 1;
  z-index: 9998;
}

.mainVisualIn {
  position: absolute;
  z-index: 1;
}
.mainVisualIn .hLogo {
  margin-top: 11px;
}
.mainVisualIn .hLogo a img {
  width: 9.37vw;
  height: auto;
}
@media screen and (max-width: 800px) {
  .mainVisualIn .hLogo a img {
    width: 19.41vw;
  }
}

.content {
  padding-top: 0;
}

/*-------------------------------------------------------------------
	top
-------------------------------------------------------------------*/
#mainVisualSec {
  position: relative;
  overflow: hidden;
  width: 100vw;
}
@media screen and (max-width: 800px) {
  #mainVisualSec {
    height: 100vh;
  }
}
#mainVisualSec #mainSlider {
  width: 100vw;
}
#mainVisualSec #mainSlider li .imgBlock {
  position: relative;
  width: 100vw;
  height: 51.22vw;
}
@media screen and (max-width: 800px) {
  #mainVisualSec #mainSlider li .imgBlock {
    height: 100vh;
  }
}
#mainVisualSec #mainSlider li .imgBlock img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 800px) {
  #mainVisualSec #mainSlider li .imgBlock img {
    height: 100vh;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
}
#mainVisualSec #mainSlider li .txtBlock {
  position: absolute;
  bottom: 3.67vw;
  left: 63.27vw;
  color: #FFFFFF;
  font-size: 1.8vw;
  font-weight: bold;
  line-height: 1.6;
  padding-right: 5vw;
}
@media screen and (max-width: 800px) {
  #mainVisualSec #mainSlider li .txtBlock {
    width: 67vw;
    height: 50.66vw;
    font-size: 5.33vw;
    left: 4vw;
    bottom: 9.86vw;
  }
}
#mainVisualSec #mainSlider li .txtBlock .btnBlock {
  margin-top: 1vw;
}
@media screen and (max-width: 800px) {
  #mainVisualSec #mainSlider li .txtBlock .btnBlock {
    margin-top: 7.46vw;
  }
}
#mainVisualSec #mainSlider li .txtBlock:hover .btnBlock span {
  background-color: rgba(255, 255, 255, 0.5);
}

#aboutSec {
  background-color: #E1DFD9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 8.94vw 13.49vw 11.9vw 14.93vw;
}
@media screen and (max-width: 800px) {
  #aboutSec {
    padding: 12.8vw 0 14.66vw;
  }
}
#aboutSec .txtBlock {
  width: 24.8vw;
  padding-top: 5.1vw;
}
@media screen and (max-width: 800px) {
  #aboutSec .txtBlock {
    width: 100vw;
    padding: 0 4vw;
  }
}
#aboutSec .txtBlock p {
  font-size: 1.8vw;
  font-weight: bold;
  line-height: 2;
}
@media screen and (max-width: 800px) {
  #aboutSec .txtBlock p {
    font-size: 5.33vw;
    text-align: center;
  }
}
#aboutSec .imgBlock {
  width: 35.2vw;
}
@media screen and (max-width: 800px) {
  #aboutSec .imgBlock {
    width: 74vw;
    margin: 5.94vw 13vw 9.73vw;
  }
}
#aboutSec .btnBlock {
  width: 100vw;
  margin-top: -9.8vw;
}
@media screen and (max-width: 800px) {
  #aboutSec .btnBlock {
    margin-top: 0;
  }
}
@media screen and (max-width: 800px) {
  #aboutSec .btnBlock a {
    margin: auto;
  }
}

#contentSec #contentList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
#contentSec #contentList li {
  width: 33.33%;
  height: 33.33vw;
}
@media screen and (max-width: 800px) {
  #contentSec #contentList li {
    width: 100vw;
    height: 100vw;
  }
}
#contentSec #contentList li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
#contentSec #contentList li a img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
}
#contentSec #contentList li a .txtBlock {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  color: #FFFFFF;
  font-size: 1.8vw;
  font-weight: bold;
  line-height: 1.6;
  padding: 2.59vw 2.88vw;
}
@media screen and (max-width: 800px) {
  #contentSec #contentList li a .txtBlock {
    font-size: 5.5vw;
    padding: 6.05vw 6.93vw;
  }
}
#contentSec #contentList li a .txtBlock .btnBlock {
  margin-top: 1vw;
}
@media screen and (max-width: 800px) {
  #contentSec #contentList li a .txtBlock .btnBlock {
    margin-top: 4.5vw;
  }
}
@media screen and (max-width: 800px) {
  #contentSec #contentList li a .txtBlock .btnBlock span {
    width: 22.7vw;
    height: 7.79vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}
#contentSec #contentList li a:hover .txtBlock .btnBlock span {
  background-color: rgba(255, 255, 255, 0.5);
}

#styleSec {
  overflow: hidden;
  padding: 8.65vw 0 7.72vw;
}
#styleSec .contentIn {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
#styleSec h2 {
  font-size: 3.24vw;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 800px) {
  #styleSec h2 {
    font-size: 8vw;
    text-align: center;
    padding-left: 0;
  }
}
#styleSec .styleThumbList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
}
#styleSec .styleThumbList .thumbItem {
  cursor: pointer;
  width: 23%;
  text-align: center;
}
#styleSec .styleThumbList .thumbItem img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#styleSec .styleThumbList .thumbItem img:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
#styleSec .styleThumbList .thumbItem p {
  margin-top: 10px;
  font-size: 1.8vw;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
@media screen and (min-width: 1388.8888888889px) {
  #styleSec .styleThumbList .thumbItem p {
    font-size: 25px;
  }
}
@media screen and (max-width: 800px) {
  #styleSec .styleThumbList .thumbItem {
    width: 45%;
  }
}

#journalSec {
  overflow: hidden;
  padding: 8.65vw 0 7.72vw;
}
@media screen and (max-width: 800px) {
  #journalSec {
    padding: 19.52vw 0 15.86vw;
  }
}
#journalSec h2 {
  font-size: 3.24vw;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding-left: 10.31vw;
}
@media screen and (max-width: 800px) {
  #journalSec h2 {
    font-size: 8vw;
    text-align: center;
    padding-left: 0;
  }
}
#journalSec .inner {
  margin: 0 auto;
  width: 100%;
  padding: 2.58vw 10.32vw;
}
@media screen and (max-width: 800px) {
  #journalSec .inner {
    padding: 0 4vw;
  }
}
#journalSec .lineup {
  position: relative;
}
@media screen and (max-width: 800px) {
  #journalSec #topJournalList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}
#journalSec #topJournalList .slick-next {
  top: 50%;
  right: -5vw;
  z-index: 10;
  height: 65px;
  width: 65px;
}
#journalSec #topJournalList .slick-next::before {
  display: block;
  width: 100%;
  height: 100%;
  background: url(./img_arrow_right.png) !important;
  background-size: cover !important;
  opacity: 1;
}
#journalSec #topJournalList .slick-next:hover::before {
  opacity: 0.5;
}
#journalSec #topJournalList .slick-prev {
  top: 50%;
  left: -5vw;
  z-index: 10;
  height: 65px;
  width: 65px;
}
#journalSec #topJournalList .slick-prev::before {
  display: block;
  width: 100%;
  height: 100%;
  background: url(./img_arrow_left.png) !important;
  background-size: cover !important;
  opacity: 1;
}
#journalSec #topJournalList .slick-prev:hover::before {
  opacity: 0.5;
}
#journalSec #topJournalList li {
  text-align: left;
  margin: 0 1.19vw;
}
@media screen and (max-width: 800px) {
  #journalSec #topJournalList li {
    width: 43.2vw;
    margin: 8vw 0;
  }
}
#journalSec #topJournalList li > a {
  display: block;
  width: 100%;
  height: 100%;
}
#journalSec #topJournalList li > a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -khtml-opacity: 0.7;
  -ms-filter: "alpha(opacity=$opacity)";
}
#journalSec #topJournalList li .imgBlock {
  position: relative;
}
#journalSec #topJournalList li .imgBlock::before {
  content: "";
  padding-top: 100%;
  display: block;
}
#journalSec #topJournalList li .imgBlock img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
#journalSec #topJournalList li .imgBlock .tabWrap {
  position: absolute;
  bottom: 0;
  right: 0;
}
#journalSec #topJournalList li .imgBlock .tabWrap span {
  background-color: #E1DFD9;
  padding: 0.36vw 0.72vw;
  font-size: 1.01vw;
  font-weight: bold;
  display: block;
  line-height: 1;
}
@media screen and (max-width: 800px) {
  #journalSec #topJournalList li .imgBlock .tabWrap span {
    padding: 0.8vw 2.13vw;
    font-size: 2.93vw;
  }
}
#journalSec #topJournalList li .journalTtl {
  margin-top: 1.81vw;
  font-size: 1.28vw;
  font-weight: bold;
  line-height: 1.4;
}
@media screen and (max-width: 800px) {
  #journalSec #topJournalList li .journalTtl {
    margin-top: 4vw;
    font-size: 3.73vw;
  }
}
#journalSec #topJournalList li .journalDate {
  margin-top: 1vw;
  font-family: "Poppins", sans-serif;
  font-size: 1.01vw;
  font-weight: 600;
}
@media screen and (max-width: 800px) {
  #journalSec #topJournalList li .journalDate {
    margin-top: 2vw;
    font-size: 2.93vw;
  }
}
#journalSec #topJournalList li .tagList {
  margin-top: 1vw;
  font-size: 1.01vw;
}
@media screen and (max-width: 800px) {
  #journalSec #topJournalList li .tagList {
    font-size: 2.93vw;
  }
}
#journalSec .slick-list {
  overflow: visible;
}
#journalSec .slick-arrow {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 45%;
  z-index: 10;
}
#journalSec .next-arrow {
  right: -5.74vw;
}
#journalSec .prev-arrow {
  left: -5.74vw;
}
#journalSec .slick-next:before, #journalSec .slick-prev:before {
  color: #000;
}
#journalSec .btnBlock {
  margin-top: 8.73vw;
  text-align: center;
}
@media screen and (max-width: 800px) {
  #journalSec .btnBlock {
    margin-top: 18.13vw;
  }
}
#journalSec .btnBlock a {
  display: block;
  width: 20.2vw;
  height: 4.32vw;
  line-height: 4.32vw;
  margin: auto;
  border-radius: 2.8vw;
  font-size: 1.44vw;
}
@media screen and (max-width: 800px) {
  #journalSec .btnBlock a {
    width: 50.4vw;
    height: 11.2vw;
    border-radius: 25.2vw;
    font-size: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

#reviewSec {
  padding: 4.06vw 3.05vw;
  border-top: 1px solid #B1B1B1;
}
#reviewSec h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.74vw;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 800px) {
  #reviewSec h2 {
    padding-top: 18.86vw;
    font-size: 8vw;
  }
}
#reviewSec p {
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
  padding: 20px;
}
.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-content {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
}

.slider img {
  max-width: 100%;
  max-height: 85vh;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 24px;
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 10;
  font-size: 0;
  line-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.close-btn::before, .close-btn::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transition: background-color 0.2s ease, -webkit-transform 0.2s ease;
  transition: background-color 0.2s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, background-color 0.2s ease;
  transition: transform 0.2s ease, background-color 0.2s ease, -webkit-transform 0.2s ease;
}
.close-btn::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.close-btn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.close-btn:hover::before, .close-btn:hover::after {
  background-color: #f5f5f5;
  -webkit-transform: scale(1.05) rotate(45deg);
          transform: scale(1.05) rotate(45deg);
}
.close-btn:hover::after {
  -webkit-transform: scale(1.05) rotate(-45deg);
          transform: scale(1.05) rotate(-45deg);
}
.close-btn .close-btn:focus,
.close-btn .close-btn:focus-visible,
.close-btn .close-btn:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}