@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,300;0,600;1,300;1,600&display=swap");
/*
min-font-size ($font_size, $min_font_size)
$font_size (vw):     可変フォントサイズ
$min_font_size (px): 最小フォントサイズ
*/
/*
max-font-size ($font_size, $max_font_size)
$font_size (vw):     可変フォントサイズ
$max_font_size (px): 最大フォントサイズ
*/
/*-------------------------------------------------------------------
	Override
-------------------------------------------------------------------*/
.mobile-facets__main {
  padding: 4.33vw 0 0 !important;
}

.variant-init-all-active .product-form__input input.disabled {
  opacity: 1;
  pointer-events: auto;
}

.variant-init-all-active .product-form__input .disabled + label {
  opacity: 1;
  pointer-events: auto;
}
/*-------------------------------------------------------------------
	product
-------------------------------------------------------------------*/
#productList .pageTitle {
  font-size: 4.32vw;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 9.81vw 10.31vw 6.63vw;
}
@media screen and (min-width: 1388.8888888889px) {
  #productList .pageTitle {
    font-size: 60px;
  }
}
@media screen and (max-width: 800px) {
  #productList .pageTitle {
    font-size: 8vw;
    padding: 0 4vw;
  }
}
#productList .facets-wrapper {
  max-width: 100%;
  margin: 0;
  padding: 0 10.31vw;
}
@media screen and (max-width: 800px) {
  #productList .facets-wrapper {
    padding: 0 4vw;
  }
}
@media screen and (max-width: 800px) {
  #productList .facets-wrapper .mobile-facets__wrapper {
    margin-top: 14.93vw;
  }
}
#productList .facets-wrapper .mobile-facets__wrapper .cmr_mobile-facets__open-wrapper {
  width: 14.43vw;
  height: 3.46vw;
  border: 1px solid #000;
}
@media screen and (max-width: 800px) {
  #productList .facets-wrapper .mobile-facets__wrapper .cmr_mobile-facets__open-wrapper {
    width: 43vw;
    height: 7.93vw;
  }
}
#productList .facets-wrapper .mobile-facets__wrapper .mobile-facets__open {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  line-height: 100%;
  padding: 0;
}
#productList .facets-wrapper .mobile-facets__wrapper .mobile-facets__open:hover .mobile-facets__open-label {
  text-decoration: none;
}
#productList .facets-wrapper .mobile-facets__wrapper .mobile-facets__open-label {
  display: block;
  position: absolute;
  font-size: 1.15vw;
  letter-spacing: 0;
  font-weight: 700;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
}
@media screen and (max-width: 800px) {
  #productList .facets-wrapper .mobile-facets__wrapper .mobile-facets__open-label {
    font-size: 2.93vw;
    left: 15%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}
#productList .mobile-facets__open svg {
  position: absolute;
  width: 2rem;
  top: 0;
  right: 0.97vw;
  bottom: 0;
  left: auto;
  margin: auto;
}
#productList .facet-filters__field .select {
  position: relative;
  border: 1px solid #000;
  width: 16.43vw;
  height: 3.46vw;
}
#productList .facet-filters__field .select select {
  position: absolute;
  width: 80%;
  font-size: 1.15vw;
  font-weight: 700;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 800px) {
  #productList .facet-filters__field .select select {
    font-size: 2.93vw;
  }
}
#productList .facet-filters__field .select .facet-filters__sort + .icon-order {
  position: absolute;
  width: 1.6rem;
  top: 0;
  right: 0.97vw;
  bottom: 0;
  left: auto;
  margin: auto;
}
#productList .facet-filters__sort:focus-visible,
#productList .mobile-facets__sort .select__select:focus-visible {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
#productList .product-count {
  display: none;
}
#productList #itemSec {
  padding: 0 10.31vw;
}
@media screen and (max-width: 800px) {
  #productList #itemSec {
    padding: 0 4vw;
  }
}

#tryitSec {
  border-top: 1px solid #070707;
}
#tryitSec h2 {
  padding: 2.45vw 0 0 0;
}
@media screen and (max-width: 800px) {
  #tryitSec h2 {
    padding: 18.93vw 0 0 0;
  }
}
#tryitSec .flowTxtWrap {
  display: none;
}

/*-------------------------------------------------------------------
	product detail
-------------------------------------------------------------------*/
/* Common Setting -------------------------------------------------*/
.acProductList {
  border-top: 1px solid #000000;
}
.acProductList label {
  position: relative;
  display: block;
  height: 80px;
  line-height: 80px;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 1px solid #000000;
}
@media screen and (max-width: 800px) {
  .acProductList label {
    height: 10.66vw;
    line-height: 10.66vw;
    font-size: 3.73vw;
    font-weight: normal;
  }
}
.acProductList label::before, .acProductList label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 27px;
  right: 1.8vw;
  width: 2px;
  height: 23px;
  background-color: #000000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media screen and (max-width: 800px) {
  .acProductList label::before, .acProductList label::after {
    top: 2.8vw;
    right: 4vw;
    height: 16px;
  }
}
.acProductList label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.acProductList label:hover {
  color: #808080;
}
.acProductList label:hover::before, .acProductList label:hover::after {
  background-color: #808080;
}
.acProductList .acBlock {
  height: 0;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0 1.8vw;
}
.acProductList input {
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.acProductList input:checked ~ label::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.acProductList input:checked ~ label::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.acProductList input:checked ~ .acBlock {
  height: auto;
  opacity: 1;
  padding: 1.8vw;
}

/* Section Setting -------------------------------------------------*/
#productBasicInfoSec {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 51px 0;
}
@media screen and (max-width: 800px) {
  #productBasicInfoSec {
    padding: 0 3.6vw 10.66vw;
  }
}
#productBasicInfoSec .imgBlock {
  position: relative;
  width: 54%;
}
@media screen and (max-width: 800px) {
  #productBasicInfoSec .imgBlock {
    width: 92vw;
  }
}
#productBasicInfoSec .imgBlock .mainImgWrap {
  position: relative;
}
#productBasicInfoSec .imgBlock .mainImgWrap .mainImgList {
  width: 65%;
  margin: 0 auto 32px;
}
@media screen and (max-width: 800px) {
  #productBasicInfoSec .imgBlock .mainImgWrap .mainImgList {
    width: 92vw;
  }
}
#productBasicInfoSec .imgBlock .thumbImgList .slick-list .draggable > div {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 800px) {
  #productBasicInfoSec .imgBlock .thumbImgList .slick-list .draggable > div {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
#productBasicInfoSec .imgBlock .thumbImgList li {
  width: 18%;
  margin-left: 2%;
  margin-bottom: 15px;
}
@media screen and (max-width: 800px) {
  #productBasicInfoSec .imgBlock .thumbImgList li {
    width: 15.46vw;
    margin-left: 2.9vw;
    margin-bottom: 3.2vw;
  }
}
#productBasicInfoSec .imgBlock .zoomIcon {
  position: absolute;
  width: 3.67vw;
  height: 3.67vw;
  max-width: 51px;
  bottom: 0;
  right: 8%;
}
@media screen and (max-width: 800px) {
  #productBasicInfoSec .imgBlock .zoomIcon {
    display: none;
  }
}
#productBasicInfoSec .imgBlock .zoomIcon #openModal {
  border: none;
  background-color: transparent;
}
#productBasicInfoSec .infoBlock {
  width: 40%;
}
@media screen and (max-width: 800px) {
  #productBasicInfoSec .infoBlock {
    width: 92vw;
    margin-top: 8.53vw;
  }
}
#productBasicInfoSec .infoBlock .tabWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-justify-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
#productBasicInfoSec .infoBlock .tabWrap span {
  padding: 4px 18px;
  font-weight: bold;
  font-size: 1.33vw;
}
@media screen and (min-width: 1203.007518797px) {
  #productBasicInfoSec .infoBlock .tabWrap span {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  #productBasicInfoSec .infoBlock .tabWrap span {
    padding: 0 2.1vw;
    font-size: 3.2vw;
    line-height: 6.4vw;
  }
}
#productBasicInfoSec .infoBlock .productCopy {
  margin-top: 20px;
  font-size: 1.33vw;
  font-weight: bold;
}
@media screen and (min-width: 1203.007518797px) {
  #productBasicInfoSec .infoBlock .productCopy {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  #productBasicInfoSec .infoBlock .productCopy {
    margin-top: 2.66vw;
    font-size: 3.73vw;
  }
}
#productBasicInfoSec .infoBlock .productName {
  margin-top: 15px;
  font-size: 2.91vw;
  font-weight: bold;
  line-height: 1.4;
}
@media screen and (min-width: 1202.7491408935px) {
  #productBasicInfoSec .infoBlock .productName {
    font-size: 35px;
  }
}
@media screen and (max-width: 800px) {
  #productBasicInfoSec .infoBlock .productName {
    margin-top: 1.66vw;
    font-size: 6.66vw;
  }
}
#productBasicInfoSec .infoBlock .productCode {
  margin-top: 5px;
  font-size: 1.33vw;
}
@media screen and (min-width: 1203.007518797px) {
  #productBasicInfoSec .infoBlock .productCode {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  #productBasicInfoSec .infoBlock .productCode {
    font-size: 3.2vw;
  }
}
#productBasicInfoSec .infoBlock .productPrice {
  margin-top: 15px;
  font-size: 2.91vw;
  font-weight: bold;
}
@media screen and (min-width: 1202.7491408935px) {
  #productBasicInfoSec .infoBlock .productPrice {
    font-size: 35px;
  }
}
@media screen and (max-width: 800px) {
  #productBasicInfoSec .infoBlock .productPrice {
    font-size: 6.66vw;
  }
}
#productBasicInfoSec .infoBlock .productPrice span {
  font-size: 1.33vw;
  line-height: 3;
}
@media screen and (min-width: 1203.007518797px) {
  #productBasicInfoSec .infoBlock .productPrice span {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  #productBasicInfoSec .infoBlock .productPrice span {
    font-size: 3.73vw;
  }
}
#productBasicInfoSec .infoBlock .productPriceAddTxt {
  margin-bottom: 20px;
  font-size: 1.33vw;
  font-weight: bold;
}
@media screen and (min-width: 1203.007518797px) {
  #productBasicInfoSec .infoBlock .productPriceAddTxt {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  #productBasicInfoSec .infoBlock .productPriceAddTxt {
    margin-bottom: 2.66vw;
    font-size: 3.73vw;
  }
}
#productBasicInfoSec .infoBlock variant-radios,
#productBasicInfoSec .infoBlock variant-selects {
  margin-top: 20px;
}
#productBasicInfoSec .infoBlock .form__label, #productBasicInfoSec .infoBlock .quantity__label {
  margin-top: 30px;
  font-size: 1.66vw;
}
@media screen and (min-width: 1204.8192771084px) {
  #productBasicInfoSec .infoBlock .form__label, #productBasicInfoSec .infoBlock .quantity__label {
    font-size: 20px;
  }
}
@media screen and (max-width: 800px) {
  #productBasicInfoSec .infoBlock .form__label, #productBasicInfoSec .infoBlock .quantity__label {
    margin-top: 8vw;
    font-size: 3.73vw;
  }
}
#productBasicInfoSec .infoBlock .product-form__input input[type=radio] + label {
  margin: 0.2rem 0.5rem 0.2rem 0;
  padding: 0.88rem 1.8rem;
  letter-spacing: 0;
}
#productBasicInfoSec .infoBlock .product-form__buttons {
  margin-top: 44px;
}
#productBasicInfoSec .infoBlock .quantity {
  width: 240px;
  min-height: 50px;
}
#productBasicInfoSec .infoBlock .quantity .quantity__button {
  width: 50px;
}
#productBasicInfoSec .infoBlock .quantity .quantity__input {
  width: 90px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
#productBasicInfoSec .infoBlock .product-form__buttons {
  max-width: 100%;
}
#productBasicInfoSec .infoBlock .button {
  width: 100%;
  min-height: 50px;
  font-size: 1.15vw;
}
@media screen and (max-width: 800px) {
  #productBasicInfoSec .infoBlock .button {
    font-size: 3.73vw;
  }
}

#modalSec {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#modalSec .modalBg {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
#modalSec .modalWrapper {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  max-width: 550px;
}
#modalSec .modalWrapper .zoomImgList li img {
  width: 100%;
}
#modalSec .modalWrapper .zoomImgList .slick-arrow:before {
  content: "" !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}
#modalSec .modalWrapper .zoomImgList .slick-next {
  top: 93%;
  right: calc(50% - 70px);
  z-index: 10;
  height: 35px;
  width: 35px;
}
#modalSec .modalWrapper .zoomImgList .slick-next::before {
  background: url(ico_right.png) !important;
  background-size: contain !important;
}
#modalSec .modalWrapper .zoomImgList .slick-prev {
  top: 93%;
  left: calc(50% - 70px);
  z-index: 10;
  height: 35px;
  width: 35px;
}
#modalSec .modalWrapper .zoomImgList .slick-prev::before {
  background: url(ico_left.png) !important;
  background-size: contain !important;
}
#modalSec .closeModal {
  position: absolute;
  top: 93%;
  left: calc(50% - 17.5px);
  height: 35px;
  width: 35px;
  cursor: pointer;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
#modalSec .closeModal::before {
  content: "" !important;
  display: block;
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  background: url(ico_mordal_close.png) !important;
  background-size: contain !important;
  opacity: 0.75;
}
#modalSec .closeModal:hover::before {
  opacity: 1;
}

#productDetailSec {
  width: 650px;
  margin: 80px auto 67px;
}
@media screen and (max-width: 800px) {
  #productDetailSec {
    width: 100%;
    padding: 10.66vw 4vw 25.33vw;
  }
}
#productDetailSec .ttlDetail {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 800px) {
  #productDetailSec .ttlDetail {
    font-size: 4.26vw;
  }
}
#productDetailSec #productDetailList02 {
  margin-top: 60px;
}
@media screen and (max-width: 800px) {
  #productDetailSec #productDetailList02 {
    margin-top: 4.53;
  }
}
#productDetailSec #productDescription {
  font-size: 1.33vw;
}
@media screen and (min-width: 1203.007518797px) {
  #productDetailSec #productDescription {
    font-size: 16px;
  }
}
#productDetailSec #productDescription h2 {
  margin-top: 120px;
  font-size: 2.08vw;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  background-color: #E1DFD9;
  line-height: 1.4;
}
@media screen and (min-width: 1201.9230769231px) {
  #productDetailSec #productDescription h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 800px) {
  #productDetailSec #productDescription h2 {
    margin-top: 11.2vw;
    padding: 3.46vw;
    font-size: 5.33vw;
  }
}
#productDetailSec #productDescription h3 {
  margin-top: 100px;
  font-size: 2.08vw;
  font-weight: bold;
}
@media screen and (min-width: 1201.9230769231px) {
  #productDetailSec #productDescription h3 {
    font-size: 25px;
  }
}
@media screen and (max-width: 800px) {
  #productDetailSec #productDescription h3 {
    margin-top: 11.2vw;
    font-size: 5.33vw;
  }
}
#productDetailSec #productDescription p {
  margin-top: 35px;
  font-size: 1.33vw;
  line-height: 1.87;
}
@media screen and (min-width: 1203.007518797px) {
  #productDetailSec #productDescription p {
    font-size: 16px;
  }
}
@media screen and (max-width: 800px) {
  #productDetailSec #productDescription p {
    margin-top: 5.33vw;
    font-size: 3.73vw;
  }
}
#productDetailSec #productDescription .sTxt {
  margin-top: 1.22vw;
  font-size: 1.16vw;
}
@media screen and (min-width: 1206.8965517241px) {
  #productDetailSec #productDescription .sTxt {
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  #productDetailSec #productDescription .sTxt {
    margin-top: 4vw;
    font-size: 3.2vw;
  }
}
#productDetailSec #productDescription img {
  width: 100%;
  margin-top: 35px;
}
@media screen and (max-width: 800px) {
  #productDetailSec #productDescription img {
    margin-top: 8vw;
  }
}
#productDetailSec #productDescription .contentBoxStyle01 {
  width: 100%;
  border: 1px solid #000000;
  margin-top: 2.88vw;
  padding: 2.59vw 1.8vw;
}
@media screen and (max-width: 800px) {
  #productDetailSec #productDescription .contentBoxStyle01 {
    margin-top: 8vw;
    padding: 7.19vw 4vw;
  }
}
#productDetailSec #productDescription .contentBoxStyle01 h3 {
  margin-top: 0;
}
@media screen and (max-width: 800px) {
  #productDetailSec #productDescription .contentBoxStyle01 img {
    margin-top: 4vw;
  }
}
#productDetailSec #productDescription .btnBlock {
  margin-top: 80px;
  width: 100%;
}
@media screen and (max-width: 800px) {
  #productDetailSec #productDescription .btnBlock {
    margin-top: 8vw;
  }
}
#productDetailSec #productDescription .btnBlock a {
  width: 100%;
  height: 65px;
  line-height: 65px;
  border-radius: 30px;
  font-size: 1.12rem;
}
@media screen and (max-width: 800px) {
  #productDetailSec #productDescription .btnBlock a {
    height: 14.66vw;
    line-height: 14.66vw;
    border-radius: 12vw;
    font-size: 4vw;
  }
}
#productDetailSec #productDetailList02 {
  margin-top: 3.82vw;
}
@media screen and (max-width: 800px) {
  #productDetailSec #productDetailList02 {
    margin-top: 8vw;
  }
}
#productDetailSec #cautionBlock {
  margin-top: 50px;
  width: 100%;
  border: 1px solid #000000;
  padding: 25px 20px 35px;
}
@media screen and (max-width: 800px) {
  #productDetailSec #cautionBlock {
    margin-top: 8vw;
    padding: 5.86vw 5.33vw;
  }
}
#productDetailSec #cautionBlock .cautionTtl {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 800px) {
  #productDetailSec #cautionBlock .cautionTtl {
    font-size: 5.33vw;
  }
}
#productDetailSec #cautionBlock .cautionTxt {
  margin-top: 20px;
  font-size: 1rem;
}
@media screen and (max-width: 800px) {
  #productDetailSec #cautionBlock .cautionTxt {
    margin-top: 4.8vw;
  }
}

#productReviewSec {
  background-color: #F4F4F4;
  padding: 86px 12%;
}
#productReviewSec h2 {
  font-size: 1.87rem;
  font-weight: bold;
  margin-bottom: 2.88vw;
}
@media screen and (max-width: 800px) {
  #productReviewSec h2 {
    font-size: 5.33vw;
  }
}

#relatedProductSec {
  padding: 5.62vw 10.31vw;
}
#relatedProductSec h2 {
  font-size: 1.87rem;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 800px) {
  #relatedProductSec h2 {
    font-size: 5.33vw;
  }
}

.btnCartBlock {
  width: 90%;
  margin: 80px auto;
  border: 1px solid #000000;
  padding: 30px;
}
@media screen and (max-width: 800px) {
  .btnCartBlock {
    margin: 50px auto;
    padding: 10px 4vw;
  }
}
.btnCartBlock .flexWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-justify-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
@media screen and (max-width: 800px) {
  .btnCartBlock .flexWrap {
    display: block;
  }
}
.btnCartBlock .productName {
  font-size: 1.91vw;
  font-weight: bold;
  line-height: 1.4;
}
@media screen and (min-width: 1204.1884816754px) {
  .btnCartBlock .productName {
    font-size: 23px;
  }
}
@media screen and (max-width: 800px) {
  .btnCartBlock .productName {
    margin-top: 1.66vw;
    font-size: 4.8vw;
  }
}
.btnCartBlock .productPrice {
  font-size: 1.5vw;
  font-weight: bold;
  padding-left: 40px;
}
@media screen and (min-width: 1200px) {
  .btnCartBlock .productPrice {
    font-size: 18px;
  }
}
@media screen and (max-width: 800px) {
  .btnCartBlock .productPrice {
    font-size: 3.8vw;
    padding-left: 0;
  }
}
.btnCartBlock .productPrice span {
  font-size: 1.08vw;
}
@media screen and (min-width: 1203.7037037037px) {
  .btnCartBlock .productPrice span {
    font-size: 13px;
  }
}
@media screen and (max-width: 800px) {
  .btnCartBlock .productPrice span {
    font-size: 2.8vw;
  }
}
.btnCartBlock .productPriceAddTxt {
  margin-bottom: 20px;
  font-size: 1.16vw;
}
@media screen and (min-width: 1206.8965517241px) {
  .btnCartBlock .productPriceAddTxt {
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  .btnCartBlock .productPriceAddTxt {
    margin-bottom: 2.66vw;
    font-size: 3.46vw;
  }
}
.btnCartBlock variant-radios,
.btnCartBlock variant-selects {
  margin-top: 20px;
}
.btnCartBlock .form__label, .btnCartBlock .quantity__label {
  margin-top: 10px;
  font-size: 1.33vw;
}
@media screen and (min-width: 1127.8195488722px) {
  .btnCartBlock .form__label, .btnCartBlock .quantity__label {
    font-size: 15px;
  }
}
@media screen and (max-width: 800px) {
  .btnCartBlock .form__label, .btnCartBlock .quantity__label {
    margin-top: 5vw;
    font-size: 3.73vw;
  }
}
.btnCartBlock .product-form__input input[type=radio] + label {
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 0.7rem 1.5rem;
  letter-spacing: 0;
  font-size: 1.2rem;
}
@media screen and (max-width: 800px) {
  .btnCartBlock .product-form__input input[type=radio] + label {
    margin: 0.8rem 0.5rem 0.8rem 0;
  }
}
.btnCartBlock .product-form__buttons {
  margin-top: 44px;
}
.btnCartBlock .quantity {
  width: 180px;
  min-height: 36px;
}
.btnCartBlock .quantity .quantity__button {
  width: 40px;
}
.btnCartBlock .quantity .quantity__input {
  width: 90px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
.btnCartBlock .product-form__buttons {
  max-width: 100%;
}
.btnCartBlock .button {
  width: 100%;
  min-height: 50px;
  font-size: 1.15vw;
}
@media screen and (max-width: 800px) {
  .btnCartBlock .button {
    font-size: 3.73vw;
  }
}