@charset "UTF-8";
@import "__import";

/*-------------------------------------------------------------------
	Override
-------------------------------------------------------------------*/
.content {
	position: relative;
	padding-top: 7.21vw;
}
/*-------------------------------------------------------------------
	Search
-------------------------------------------------------------------*/
.contentIn {
	width: 92vw;
	max-width: 1100px;
	margin: auto;
}
.contentPcIn {
	width: 92vw;
	max-width: 1100px;
	margin: auto;

	@include media-sp {
		width: 100vw;
	}
}
#searchFormSec {
	padding-top: 72px;
	padding-bottom: 77px;
	background-color: $bge;

	#searchTypeList {
		@include flex(flex-start, center);

		li {
			margin: 0 4.5%;

			button {
				padding: 0;
				overflow: visible;
				background: none;
				border: none;
				border-radius: 0;
				cursor: pointer;
				-webkit-appearance: none;
				appearance: none;
				touch-action: manipulation;
			}

			.searchTypeTxt01 {
				@include max-font-size(1.8vw, 25px);
				font-family: $font_en;
				font-weight: bold;

				.txtCnt {
					margin-left: 18px;
				}
			}
			.searchTypeTxt02 {
				@include max-font-size(0.93vw, 13px);
				text-align: left;
			}
		}
	}
}