@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,300;0,600;1,300;1,600&display=swap");
/*
min-font-size ($font_size, $min_font_size)
$font_size (vw):     可変フォントサイズ
$min_font_size (px): 最小フォントサイズ
*/
/*
max-font-size ($font_size, $max_font_size)
$font_size (vw):     可変フォントサイズ
$max_font_size (px): 最大フォントサイズ
*/
/*-------------------------------------------------------------------
	Override
-------------------------------------------------------------------*/
.content {
  position: relative;
}

/*-------------------------------------------------------------------
	Search
-------------------------------------------------------------------*/
.contentIn {
  width: 92vw;
  max-width: 1100px;
  margin: auto;
}

.contentPcIn {
  width: 92vw;
  max-width: 1100px;
  margin: auto;
}
@media screen and (max-width: 800px) {
  .contentPcIn {
    width: 100vw;
  }
}

#searchFormSec {
  padding-top: 72px;
  padding-bottom: 77px;
  background-color: #E1DFD9;
}
#searchFormSec #searchTypeList {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
#searchFormSec #searchTypeList li {
  margin: 0 4.5%;
}
#searchFormSec #searchTypeList li button {
  padding: 0;
  overflow: visible;
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  touch-action: manipulation;
}
#searchFormSec #searchTypeList li .searchTypeTxt01 {
  font-size: 1.8vw;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
@media screen and (min-width: 1388.88889px) {
  #searchFormSec #searchTypeList li .searchTypeTxt01 {
    font-size: 25px;
  }
}
#searchFormSec #searchTypeList li .searchTypeTxt01 .txtCnt {
  margin-left: 18px;
}
#searchFormSec #searchTypeList li .searchTypeTxt02 {
  font-size: 0.93vw;
  text-align: left;
}
@media screen and (min-width: 1397.84946px) {
  #searchFormSec #searchTypeList li .searchTypeTxt02 {
    font-size: 13px;
  }
}

#resultSec .panelGroup {
  padding: 0 10.31vw 0;
}
#resultSec .panelGroup .panel {
  display: none;
}
#resultSec .panelGroup .panel[aria-hidden="false"] {
  display: block;
  animation: show .4s ease;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
