/*
Error: $color: "var(--color-foreground)" is not a color for `rgba'
        on line 92 of /Users/izumikaeriyama/Documents/project/nakota/camuri/html/_asset/scss/search.scss

87: 			position: absolute;
88: 			top: calc(100% + 0.1rem);
89: 			left: -0.1rem;
90: 			border-width: var(--popup-border-width);
91: 			border-style: solid;
92: 			border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
93: 			background-color: rgb(var(--color-background));
94: 			z-index: 3;
95: 			border-bottom-right-radius: var(--popup-corner-radius);
96: 			border-bottom-left-radius: var(--popup-corner-radius);
97: 			box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)

Backtrace:
/Users/izumikaeriyama/Documents/project/nakota/camuri/html/_asset/scss/search.scss:92
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:310:in `reformat_argument_error'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:149:in `rescue in _perform'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/script/tree/funcall.rb:122:in `_perform'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block (2 levels) in visit_rule'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `map'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:434:in `block in visit_rule'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:432:in `visit_rule'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/lib/ruby/gems/3.1.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/bin/compass:25:in `load'
/Users/izumikaeriyama/.rbenv/versions/3.1.6/bin/compass:25:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: $color: \"var(--color-foreground)\" is not a color for `rgba'\A         on line 92 of /Users/izumikaeriyama/Documents/project/nakota/camuri/html/_asset/scss/search.scss\A \A 87: 			position: absolute;\A 88: 			top: calc(100% + 0.1rem);\A 89: 			left: -0.1rem;\A 90: 			border-width: var(--popup-border-width);\A 91: 			border-style: solid;\A 92: 			border-color: rgba(var(--color-foreground), var(--popup-border-opacity));\A 93: 			background-color: rgb(var(--color-background));\A 94: 			z-index: 3;\A 95: 			border-bottom-right-radius: var(--popup-corner-radius);\A 96: 			border-bottom-left-radius: var(--popup-corner-radius);\A 97: 			box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)"; }
