	<div id="legalNotice" class="cmnTemplate">
		<section id="titleSec">
			<div class="contentIn">
				<h2 class="menuTitleStyle"><span class="txtEn">LEGAL NOTICE</span><span class="txtJa">特定商取引法に基づく表示</span></h2>
			</div>
		</section>
		<!-- titleSec -->

		<section id="legalNoticeSec">
		    <div class="contentIn">
		        <h3>店舗情報</h3>
		        <p>
		            店舗名：camuri-カムリ-<br>
		            販売事業者名：株式会社nakota<br>
		            販売責任者名：吉田 真太郎<br>
		            所在地：〒550-0002大阪府 大阪市西区江戸堀 1丁目25-35 近商ビル2F<br>
		            電話番号 ：06-6444-1555<br>
		            メールアドレス：info@nakota.jp<br>
		            ホームページURL ：https://camuri.jp<br>
		        </p>

		        <h3>商品の販売について</h3>
		        <dl class="cmnDLList">
		            <dt>商品引渡し時期</dt>
		            <dd>
		                ご入金いただいてから通常翌営業日以内に発送いたします。<br class="pcOnly">
		                但し、在庫のない場合や、繁忙期間中は遅れる場合がございます。<br class="pcOnly">
		                引渡し方法は、ネコポスまたはヤマト運輸とします。
		            </dd>
		            <dt>不良品の取扱 </dt>
		            <dd>
		                商品到着時に必ず商品をご確認ください。<br class="pcOnly">
		                下記商品は、無料で至急交換させていただきます。<br class="pcOnly">
		                商品到着後、7日以内に弊社までご連絡ください。<br>
		                <br>
		                申し込まれた商品と届いた商品が異なっている場合<br class="pcOnly">
		                損傷している、汚れている商品
		            </dd>
		        </dl>

		        <h3>支払方法と支払時期</h3>
		        <dl class="cmnDLList">
		            <dt>支払方法</dt>
		            <dd>
		                クレジットカード、PayPay、LINE Pay、Merpayの支払方法をご利用いただけます。<br class="pcOnly">
		            </dd>
		            <dt>支払時期</dt>
		            <dd>
		                クレジットカード決済の場合は商品発送時に決済処理を行います。<br class="pcOnly">
		            </dd>
		        </dl>

		        <h3>返品・交換・キャンセルについて</h3>
		        <dl class="cmnDLList">
		            <dt>不良品の取扱</dt>
		            <dd>
		                商品到着時に必ず商品をご確認ください。以下の場合には、無料で至急交換させていただきますので、商品到着後7日以内に弊社までご連絡ください。<br>
		                - 申し込まれた商品と届いた商品が異なる場合<br>
		                - 商品が損傷している、または汚れている場合
		            </dd>
		            <dt>返品・交換条件</dt>
		            <dd>未使用品に限り、商品到着後7日以内にご連絡いただいた場合に対応いたします。</dd>
		            <dt>返品送料</dt>
		            <dd>送料は当社が負担いたします。</dd>
		            <dt>キャンセル規定</dt>
		            <dd>発送前であれば、キャンセルが可能です。キャンセルをご希望の場合は、速やかにご連絡ください。</dd>
		            <dt>返品・交換の手続き方法</dt>
		            <dd>返品・交換をご希望の場合は、まずinfo@camuri.jpまでご連絡ください。その後、当社からの案内に従ってお手続きを進めていただきます。</dd>
		        </dl>
		    </div>
		</section>
		<!-- priavcySec -->
	</div>
	<!--content-->