	<div id="priavcyPolicy" class="cmnTemplate">
		<section id="titleSec">
			<div class="contentIn">
				<h2 class="menuTitleStyle"><span class="txtEn">PRIVACY POLICY</span><span class="txtJa">個人情報保護方針</span></h2>
			</div>
		</section>
		<!-- titleSec -->

		<section id="priavcySec">
			<div class="contentIn">
				<h3><strong>プライバシーポリシー</strong></h3>
				<p>
					株式会社nakota（以下「当社」といいます。）は、個人情報の保護に関する法律を遵守し、お客様のプライバシー保護に努めています。本プライバシーポリシーは、当社が運営する「CAMURI」における個人情報の取扱い方針を示したものです。</p>

				<h3><strong>1. 個人情報の利用目的</strong></h3>
				<p>
					当社は、お客様の個人情報を以下の目的で利用いたします。				</p>

				<ul>
				  <li>商品およびサービスの提供、配送およびサポート対応のため</li>
				  <li>商品およびサービスに関するお知らせ、アンケートの実施のため</li>
				  <li>広告およびプロモーション活動における活用（お客様の趣味や嗜好に応じた情報を含む）のため</li>
				  <li>サービスや商品の改善、開発のためのマーケティング分析のため</li>
				  <li>お問い合わせやトラブル対応等のサポート業務のため</li>
				  <li>規約変更やポリシー改定等の重要なお知らせを通知するため</li>
			  </ul>
				<h3><strong>2. 個人情報の管理および安全対策</strong></h3>
				<p>
					当社は、個人情報の漏洩・毀損・改ざん防止のための適切な安全管理措置を講じ、個人情報の適切な管理に努めます。詳細については、<a href="https://camuri.jp/pages/contact">お問い合わせフォーム</a>までご連絡ください。				</p>

				<h3><strong>3. 個人データの第三者への提供</strong></h3>
				<p>
					(1) <strong>個人データの第三者への提供</strong><br>
					当社は、法令に基づく場合を除き、お客様の同意なく、お客様の個人データを第三者に対して提供いたしません。また、個人データの取り扱いを第三者に委託する際には、利用目的の範囲内でこれを行います。<br>
				    <br>
				(2) <strong>委託に基づく個人データの取り扱い</strong><br>
				委託先の選定に配慮するとともに、個人データの取り扱いに関する契約を締結するなどして、個人データの漏洩・滅失・改ざんの防止を図り、委託先に対して必要かつ適切な監督を行います。</p>

				<h3><strong>4. 開示、訂正、削除の請求</strong></h3>
				<p>
					当社は、お客様からの個人情報に関する開示、訂正、削除、利用停止等の要請に対し、迅速かつ適切に対応いたします。</p>
				<h3><strong>5. Google Analyticsの利用について</strong></h3>
				<p> 当社は、ウェブサイトの利用状況分析や広告配信においてGoogle Analyticsを利用しています。Google Analyticsにより収集される情報はGoogleのプライバシーポリシーに基づき管理されています。Google Analyticsの詳細や情報収集の停止については、<a href="https://tools.google.com/dlpage/gaoptout?hl=ja" target="_blank">こちら</a>をご参照ください。</p>
				<h3><strong>6. Cookieの使用</strong></h3>
				<p>
					当社は、ウェブサイトの利便性向上や最適化のためCookieを使用しています。Cookieを無効化した場合、一部サービスの利用に制限が生じる可能性がございます。詳細やオプトアウト方法については<a href="https://support.google.com/ads/answer/2662922?hl=ja" target="_blank">こちら</a>をご覧ください。</p>

				<h3><strong>7. お問い合わせ先</strong></h3>
				<p>プライバシーに関するご質問やお問合せは、以下までご連絡ください。				</p>

				<p><strong>株式会社nakota 個人情報保護管理者</strong><br>
				  〒550-0002 大阪府大阪市西区江戸堀1-25-35 2階<br>
				  メールアドレス: <a href="mailto:info@camuri.jp">info@camuri.jp</a><br>
				  お問い合わせフォーム: <a href="https://camuri.jp/pages/contact" target="_blank">https://camuri.jp/pages/contact<br>
				    </a></p>
				<h3><strong>8. ポリシーの変更</strong><br>
				  <br>
				</h3>
				<p>当社は、社会的要請の変化や法令遵守のため、プライバシーポリシーを随時見直し、継続的に改善いたします。</p>
		  </div>
		</section>
		<!-- priavcySec -->
	</div>
	<!--content-->