	<div id="legalNotice" class="cmnTemplate">
		<section id="titleSec">
			<div class="contentIn">
				<h2 class="menuTitleStyle"><span class="txtEn">LEGAL NOTICE</span><span class="txtJa">特定商取引法に基づく表示</span></h2>
			</div>
		</section>
		<!-- titleSec -->

		<section id="legalNoticeSec">
		    <div class="contentIn">
		        <h3>店舗情報</h3>
		        <p>
		            店舗名：camuri-カムリ-<br>
		            販売事業者名：株式会社nakota<br>
		            販売責任者名：吉田 真太郎<br>
		            所在地：〒550-0002 大阪府 大阪市西区江戸堀 1丁目25-35 近商ビル2F<br>
		            電話番号：06-6444-1555<br>
		            メールアドレス：info@camuri.jp<br>
		            ホームページURL：<a href="https://camuri.jp">https://camuri.jp</a><br>
		        </p>

		        <hr>

		        <h3>支払方法と支払時期</h3>
		        <dl class="cmnDLList">
		            <dt><strong>お支払方法</strong></dt>
		            <dd>
		                クレジットカード、PayPay、LINE Pay、Merpayの支払方法をご利用いただけます。
		            </dd>

		            <hr>

		            <dt><strong>支払時期</strong></dt>
		            <dd>
		                クレジットカード決済の場合は商品発送時に決済処理を行います。
		            </dd>
		        </dl>

		        <hr>

		        <h3>商品代金以外の必要料金</h3>
		        <p>
		            ・消費税（商品代金に含んで表示）
		        </p>

		        <hr>

		        <h3>引き渡し時期</h3>
		        <p>
		            ご入金いただいてから通常翌営業日以内に発送いたします。<br>
		            但し、在庫のない場合や、繁忙期間中は遅れる場合がございます。<br>
		            引渡し方法は、ネコポスまたはヤマト運輸とし、お支払い確認後3日以内に発送いたします。
		        </p>

		        <hr>

		        <h3>返品・交換・キャンセルについて</h3>
		        <dl class="cmnDLList">
		            <dt><strong>不良品の取扱</strong></dt>
		            <dd>
		                商品到着時に必ず商品をご確認ください。以下の場合には、無料で至急交換させていただきますので、商品到着後7日以内に弊社までご連絡ください。<br><br>
		                - 申し込まれた商品と届いた商品が異なる場合<br>
		                - 商品が損傷している、または汚れている場合<br>
		            </dd>

		            <hr>

		            <dt><strong>返品・交換条件</strong></dt>
		            <dd>
		                未使用品に限り、商品到着後7日以内にご連絡いただいた場合に対応いたします。            </dd>

		            <hr>

		            <dt><strong>返品送料</strong></dt>
		            <dd>
		                送料は当社が負担いたします。            </dd>

		            <hr>

		            <dt><strong>キャンセル規定</strong></dt>
		            <dd>
		                発送前であれば、キャンセルが可能です。キャンセルをご希望の場合は、速やかにご連絡ください。            </dd>

		            <hr>

		            <dt><strong>返品・交換の手続き方法</strong></dt>
		            <dd>
		                返品・交換をご希望の場合は、<a rel="noopener noreferrer" title="試着・返品フォーム" data-sanitized-target="_blank" href="https://camuri.rcmr.io/">こちらのフォームより</a>お手続きください。<br>
		                その後、当社からの案内に従ってお手続きを進めていただけます。</dd>
		        </dl>
		    </div>
		</section>
		<!-- legalNoticeSec -->
	</div>
	<!--content-->