	<div id="shoppingGuide" class="cmnTemplate">
		<section id="titleSec">
			<div class="contentIn">
				<h2 class="menuTitleStyle"><span class="txtEn">SHOPPNG GUIDE</span><span class="txtJa">お買いものガイド</span></h2>
			</div>
		</section>
		<!-- titleSec -->

		<section id="guideMenuSec">
			<div class="contentIn">
				<ul class="cmnMenuList">
					<li><a href="#guideSec01">送料について</a></li>
					<li><a href="#guideSec02">お支払い方法について</a></li>
					<li><a href="#guideSec03">返品・交換について</a></li>
				</ul>
			</div>
		</section>
		<!-- faqMenuSec -->

		<section id="guideSec01">
		    <div class="contentIn">
		        <h3>送料について</h3>
		        <dl class="cmnDLList">
		            <dt>送料</dt>
		            <dd>全国送料無料です。</dd>
		        </dl>
		    </div>
		</section>
		<!-- guideSec01 -->

		<section id="guideSec02">
		    <div class="contentIn">
		        <h3>お支払い方法について</h3>
		        <dl class="cmnDLList">
		            <dt>お支払い方法</dt>
		            <dd>
		                お支払い方法は以下の通りです。<br>
		                ・クレジットカード<br>
		                ・PayPay<br>
		                ・LINE Pay<br>
		                ・Merpay<br>
		                お客様のご都合に合わせて、上記の中からお選びいただけます。
		            </dd>
		        </dl>
		    </div>
		</section>
		<!-- guideSec02 -->

		<section id="guideSec03">
		    <div class="contentIn">
		        <h3>試着について</h3>
		        <p>
		            「自分に合う形やサイズがわからない」「普段の服装にあわせてみたい」「お店で帽子を試着する事に抵抗がある」<br>
		            そんな方に向けた、ご自宅でゆっくり帽子が試せるサービスです。
		        </p>
		        <p>ご購入されない商品は<a href="https://camuri.rcmr.io/" target="_blank">試着・返品ページ</a>から「返品」のお手続きをしてください。</p>
		    </div>
		</section>
		<!-- guideSec03 -->

		<section id="guideSec04">
		    <div class="contentIn">
		        <h3>返品・交換について</h3>
		        <dl class="cmnDLList">
		            <dt>試着、返品・交換時の返送料について</dt>
		            <dd>試着および返品・交換時の返送料は、すべて弊社が負担いたしますのでご安心ください。</dd>
		            <dt>返品・交換ができない場合</dt>
		            <dd>
		                以下の条件に該当する場合は、返品・交換をお受けできませんので、事前にご確認ください。<br>
		                ・商品受取日から7日以上経過している場合<br>
		                ・一度使用された場合<br>
		                ・商品にニオイが付着している場合<br>
		                ・商品が破損・汚損している場合<br>
		                ・付属品（タグ、箱、説明書、保証書等）を破損・紛失・破棄した場合<br>
		                ・加工・修理・クリーニング等が施された場合<br>
		                ・その他、各商品ページ内で「返品・交換不可」と記載されている商品
		            </dd>
		        </dl>
		        <p>返品・交換の詳細についてや不明点がある場合は、当社までお気軽にお問い合わせください。</p>
		    </div>
		</section>
		<!-- guideSec04 -->
	</div>
	<!--content-->